{% extends "base.html" %}
{% load tags %}
{% load filters %}

{% block head_scripts %}
    {{ block.super }}

    <!-- <script>

      (function () {

        var evl = window.EVL = window.EVL || {};
        evl.user_location_info =  {{user_location_info|safe}};
      }());

    </script> -->

    <!-- <script defer src="https://www.youtube.com/iframe_api"></script>-->
    <script defer src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.js"></script>
    <script defer src="/static/js/selectize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/selectize.css" />
    <script src='/static/js_new/parsley.min.js' type='text/javascript' ></script>
    <script src='/static/js_new/partner_profile.js' type='text/javascript' ></script>

    <script>

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'DhmVpNCEWOo',
          controls : 0,
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      } 

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        //event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if(event.data == 0 ){
         evd.ajax_sub('/partner/save_profile/',{'step':'organisation'},function(){});
        }
        //if (event.data == YT.PlayerState.PLAYING && !done) {
          //setTimeout(stopVideo, 6000);
          //done = true;
        //}
      }
      function stopVideo() {
        player.stopVideo();
      }
      $(function(){
        $('[data-toggle="popover"]').popover();
        var profile_completion_status = $('.new_dash_container').attr('data-profile_completion_status');
        if(profile_completion_status === 'True'){
            $(".not_editable").removeClass("hide");
            $(".editable").addClass("hide");
        }
        $("body").on("click", ".cancel_edit_profile", function(event){
            event.preventDefault();
            $(".not_editable").removeClass("hide");
            $(".editable").addClass("hide");
        });
        $("body").on("click", ".edit_profile", function(){
            $(".not_editable").addClass("hide");
            $(".editable").removeClass("hide");
        });
        //redirect_to_onboard
        $("body").on("click", ".redirect_to_onboard", function(){
            window.location.pathname="/partner/home/";
        });
        //code of conduct checkbox:save enable/disable
        $("#profile_sub").removeAttr("disabled");
        $("body").on("change", "#code_conduct", function(){
            if (document.getElementById('code_conduct').checked){
                $("#profile_sub").removeAttr("disabled");
            }
            else{
                $("#profile_sub").attr("disabled","disabled");
            }
        });
      });
      $(function() {
        $(".btn-pref .btn").click(function (e) {
            e.preventDefault();
            $(".btn-pref .btn").removeClass("btn-warning").addClass("btn-default");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-default").addClass("btn-warning");
        });
        /*// store the currently selected tab in the hash value
        $(".btn-group button").on("shown.bs.tab", function(e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
        });*/

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        window.setTimeout(function(){$('.nav-tabs a[href="' + hash + '"]').trigger('click');}, 1);

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            var scrollmem = $('body').scrollTop() || $('html').scrollTop();
            window.location.hash = this.hash;
            $('html,body').scrollTop(scrollmem);
        });
      });
    </script>

    <style>
        .contributions, .profile-edit-2, .role_change{
            display : none !important;
        }
    </style>

{% endblock %}


{% block body_container %}
    {{ block.super }}
    {% include "code_conduct_modal.html" %}
    <style>
    .tab-content > div:last-child {
        display : block !important;
    }
        .btn-pref .btn {
            -webkit-border-radius:0 !important;
        }
    .input-group{
    position: relative;
    display: block;
    border-collapse: separate;
    }
    .input-group-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:red;
    display:block;
    text-align:left;
    border: none;
    }
    .nav-tabs {
        margin-bottom: 15px;
    }
    .sign-with {
        margin-top: 25px;
        padding: 20px;
    }
    div#OR {
        height: 30px;
        width: 30px;
        border: 1px solid #C2C2C2;
        border-radius: 50%;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
        font-size: 12px;
        float: right;
        position: absolute;
        right: -16px;
        top: 40%;
        z-index: 1;
        background: #DFDFDF;
    }
    </style>
    <div class="container-fluid new_dash_container" data-profile_completion_status="{{user_profile.organization_complete_status}}">
        <div class='row my_profile' style="position:relative">
          <div class="col-lg-12 col-sm-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab"
                    href="#orgdetails" style="font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:black">Org Details</a></li>
            </ul>
            <div class="tab-content">
                <div id="orgdetails" class="tab-pane fade in active">
                    <div class='basic_profile col-xs-12 col-sm-12 col-md-12' >
                        <div class='section_title'>
                            <h5>Organization Details</h5>
                            <hr>
                        </div>

                        <div class="editable1">
                            <form id='basic_form' method='POST' enctype="multipart/form-data" data-parsley-validate="">
                            {% csrf_token %}
                                <input type='hidden' name='step' value='org_profile' />
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="organization">Organization</label>
                                        </div>
                                        <div class="col-md-6">
                                        <div class="input-group">
                                            <input type='text' class="form-control" name='organization' placeholder="Organization"
                                            value='{{ ref_channel.name }}' required="">
                                            <span class="input-group-addon">*</span>
                                        </div>
                                        </div>
                                    </div> <!-- row  -->
                                    <div class="row" style="top:17px;">
                                        <div class="col-md-6">
                                            <label for="type_of_org">Type Of Organization</label>
                                        </div>
                                        <div class="col-md-6">
                                         <select name="type_of_org" class=' selects-up' required="">
                                            {% if delivery_partner.type_of_org %}
                                                <option value="{{ delivery_partner.type_of_org }}" selected="selected">
                                                    {{ delivery_partner.type_of_org }}</option>
                                            {% else %}
                                                <option value="" selected="selected">--Type of Org--</option>
                                            {% endif %}
                                            <option value="Trust">Trust</option>
                                            <option value="Society">Society</option>
                                            <option value="Section 8">Section 8</option>
                                            <option value="Others">Others</option>
                                         </select>
                                        <span class="input-group-addon" style="border: none; top:0; background: none; position: absolute; right: 0;">*</span>
                                    </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row" style="top:17px;">
                                        <div class="col-md-6">
                                            <label for="website_address">Website Address</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='website_address' placeholder="Website Address"
                                                value='{{ delivery_partner.website_address }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row" style="top:17px;">
                                        <div class="col-md-6">
                                            <label for="office_phone">Office Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='office_phone' placeholder="Office Phone"
                                                value='{{ delivery_partner.office_phone }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row" style="top:17px;">
                                        <div class="col-md-6">
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='email' placeholder="Email"
                                                value='{{ partner.email }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row" style="top:17px;">
                                        <div class="col-md-6">
                                            <label for="address">Address Line 1, City, State, PIN</label>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea name="address" id="address" placeholder = "Address" type="text" style="width: 100%;">{{partner.address}}</textarea>
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                </div> <!-- col-md-4-->

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                             <label for="date_of_reg">Date of Registration</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='date_of_reg' placeholder="Date of Registration"
                                                 value='{{ delivery_partner.date_of_reg}}' >
                                         </div> <!--col-md-6 -->
                                    </div> <!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="place_of_org">Place of Registration</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='place_of_org' placeholder="Place of Registration"
                                                value='{{ delivery_partner.place_of_reg }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="reg_number">Registration Number</label>
                                        </div>
                                        <div class="col-md-6">
                                                <input type='text' class="form-control" name='reg_number' placeholder="Registration Number"
                                                value='{{ delivery_partner.reg_number }}' >
                                        </div> <!--col-md-6 -->
                                    </div><!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="number">12A/80G Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='number' placeholder="12 A . No : Hqrs/1 (67)/TPT/88-89"
                                                value='{{ delivery_partner.number }}' >
                                        </div><!--col-md-6 -->
                                    </div><!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="fcra_reg_number">FCRA Regn. Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='fcra_reg_number' placeholder="FCRA Regn. Number"
                                                value='{{ delivery_partner.fcra_reg_number }}' >
                                        </div><!--col-md-6 -->
                                    </div><!-- row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="fcra_acc_number">FCRA Acc Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='fcra_acc_number' placeholder="FCRA Acc Number"
                                                value='{{ delivery_partner.fcra_acc_number }}' >
                                        </div><!--col-md-6 -->
                                    </div><!-- row -->
                                </div> <!-- col-md-4-->

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="bank_name" >Bank Name</label>
                                        </div>
                                        <div class="col-md-6">
                                                <input type='text' class="form-control" name='bank_name' placeholder="Bank Name"
                                                value='{{ delivery_partner.bank_name }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="ifsc_code">Ifsc Code</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='ifsc_code' placeholder="Ifsc Code"
                                            value='{{ delivery_partner.ifsc_code }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="acc_holder_name">Acct. Name</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type='text' class="form-control" name='acc_holder_name' placeholder="Acct. Holder Name"
                                            value='{{ delivery_partner.acc_holder_name }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="acc_number">Account Number</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='acc_number' placeholder="Account Number"
                                            value='{{ delivery_partner.acc_number }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="type_of_acc">Type Of Acc</label>
                                        </diV>
                                        <div class="col-md-6">
                                            <input type='text' class="form-control" name='type_of_acc' placeholder="Type Of Acc"
                                            value='{{ delivery_partner.type_of_acc }}' >
                                        </div> <!--col-md-6 -->
                                    </div> <!-- row  -->
                                </div> <!-- col-md-4-->

                                <button id="org_submit" class="btn btn-success" style="margin-bottom:22px;width:100px;position: relative;top: 22px;float: right;left: -100px;">Save</button>
                            </form>
                        </div>
                    </div>
                </div> <!--Profile completes -->

            </div>
          </div>
        </div>
    </div>
{% endblock %}
