<p>Dear {{partner_name}},</p>

<p>Greetings from eVidyaloka</p>
<p>Thank you for identifying a School, for a probable setting up of eVidyaloka Remote Classes.</p>

<p>School with below details are enlisted in your account :</p>
<p>School Code: {{schoolcode}}, Name : {{school_name}}, Village : {{village}}, District : {{district}} on  {{created_on}}</p>

<p>Current Status of the School is  : {{status}}</p>

<p>Next step is to do a set of verification, to be assessed for eVidyaloka classes. You or your representative can visit the School in person and perform an in place verificiation by clicking <a href="https://www.evidyaloka.org/partner/myschool_verification/{{myschool_id}}/" target="_blank" >here to Verify</a></p>

<p>For any queries, please contact eVidyaloka Helpline: +91 80 40903939</p>

<p>Regards,</p>
<p>eVidyaloka - Jupiter Team</p>