<style>
  @page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}
.page {
  width: 21cm;
  
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #FFEAEA solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
table.table-bordered > thead > tr > th{
  border:1px solid blue;
}
.navbar {
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
</style>



<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button class="navbar pull-right"onclick="goBack()" style='width: 46px'>X</button> 
                
                
            
            </div>
            <div class="modal-body" >
                <div class="page">
                    
                     
  <p class="western" align="center">
    <span style="font-family: 'Times New Roman', serif;font-size: large;">
        Memorandum of Understanding
    </span>
  </p>
  <p class="western" align="center">&nbsp;</p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
      <strong>I. Parties</strong>
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      The purpose of this Memorandum of Understanding (“MOU”) is to establish a relationship between 
      <strong>eVidyaloka Education for All Network Foundation, </strong>
      having its office at
      <strong> #10B 1 st Main
        Road MCSHColony, 5 th Block, HSR LAYOUT SECTOR 6 BANGALORE 560 102,</strong>
        herein
        referred to as ‘eVean Foundation’ and 
      &lsquo;<strong>{{partner_name_org}}</strong>&rsquo; 
      with their address at 
      <strong>{{partner_address}}</strong>
      herein referred to as ‘PARTNER’ dated <strong>{{acc_start_date}}</strong>.
  </p>

  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      WHERE as eVean Foundation is a registered non profit Section 8 company that focuses on
      serving the rural students and transforming the educational landscape of rural India and eVean
      Foundation’s services or program described in this MOU will be provided to school/students
      mutually agreed between eVean Foundation and PARTNER.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
      &nbsp;&nbsp;&nbsp;
      WHERE as PARTNER is an individual with an intention to transform rural India through
      technology and entrepreneurship and is interested in availing the eVean Foundation program to
      the mutually agreed schools/students.
  </p>
  <p class="western" align="left" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    BOTH PARTIES HEREBY enter into this MOU to enable eVean Foundation and PARTNER to
    provide said services/program to school(s) (“Schools”) covered in the Terms of Engagement
    added as Exhibit 2 of the MOU.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    <strong>II. Payments</strong>
  </p>
  <p class="western" align="justify"style="font-family: 'Times New Roman', serif;font-size: small;">
    PARTNER herewith acknowledges that Payments will be as agreed under the Scope &amp; Budget
    Plan appearing in the Scope &amp; Budget added as Exhibit 1 of the MOU.
  </p>
  <p class="western" align="justify"style="font-family: 'Times New Roman', serif;font-size: small;">
    Payments will be made as a grant to eVean Foundation.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    <strong>III. Duration</strong>
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    This MOU is for a period of {{total_month}} months from <strong>{{acc_start_date}} </strong>to<strong> {{academic_year_end}}</strong>.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
      <strong>IV. Hold Harmless/Indemnity</strong>
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Both eVean Foundation and PARTNER are independent enterprises and shall deal at arm’s length
    and shall not commit on each other’s behalf without the express concurrence of the other.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Each party to this MOU agrees to indemnify and hold harmless the other for and from any claims,
    causes of action, or any other proceeding of any type or kind that is made against the other where
    such claim, cause of action or other proceeding arises from the conduct, act, omission, or
    commission by the other party.
  </p>
  <p class="western" align="justify"><a name="_GoBack"></a> </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    <a name="_gjdgxs"></a> <strong>V. Exit/Renewal</strong>
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Either party may terminate this MOU at any time, without cause, with 30 days written notice to
    the other party. Upon termination, both parties will work to close within 30 days all pending
    matters and financial obligations. PARTNER will return or destroy all confidential information as
    directed by eVean Foundation
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Both parties will honour the confidentiality and data protection commitment even after
    termination and the same commitment shall survive indefinitely.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    This engagement may be renewed and/or amended by mutual consent of the parties.  All
    amendments must be in writing and signed by both the parties.
  </p>
</div>  
<div class="page">
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    <strong>VI. Governing Law</strong>
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    The MOU shall be governed by the Indian Laws for the time being in force and till the period of
    satisfactory performance of the MOU.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    The Courts of Bengaluru alone shall have exclusive jurisdiction in respect of any matter, claim or
    dispute arising out of or in relation to this MOU.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    IN WITNESS THEREOF, the parties to this agreement have duly executed it on the day, month and year set forth below.
  </p>
  <p class="western" align="justify">
    <span style="font-family: 'Times New Roman', serif;float:left;">
      By:<u id='typ'>{{partner_mou_obj.Author_signature}}</u>
    </span>  
    <span style="font-family: 'Times New Roman', serif;float:right;margin-right: 19.9%;">
        By:<u id="dat">{{partner_mou_obj.Admin_signature}}</u>
    </span> 
  </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify">
    <span style="font-family: 'Times New Roman', serif;float:left;">
      Dated:<u>{{date_added}}</u>
    </span>               
    <span style="font-family: 'Times New Roman', serif;float:right;margin-right: 9%;">
        Dated:<u>{{date_updated}}</u>
    </span>
  </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify">
    <span style="font-family: 'Times New Roman', serif;float:left;">
      Address/Tel no_____________            
    </span>
    <span style="font-family: 'Times New Roman', serif;float:right;;">
        Address/Tel no_____________
    </span>
  </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">Witness,</p>
  <p class="western" align="justify">
    <span style="font-family: 'Times New Roman', serif;float:left;">
      By:<u>{{ent.Admin_signature}}</u>
    </span>
    <span style="font-family: 'Times New Roman', serif;float:right;">
        By: ______________________
    </span>           
  </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify">
    <span style="font-family: 'Times New Roman', serif;float:left;">
      Dated: {{ent.updated_on}}
    </span>
    <span style="font-family: 'Times New Roman', serif;float:right;">
        Dated:____________________
    </span>                      
  </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify">
    <span style="font-family: 'Times New Roman', serif;float:left;">
      Address/Tel no: ______________
    </span>    
    <span style="font-family: 'Times New Roman', serif;float:right;">
        Address/Tel no: _____________
    </span>                
  </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western">&nbsp;</p>
  <p class="western">&nbsp;</p>
  <p class="western" align="center">&nbsp;</p>
  <p class="western" align="center">&nbsp;</p>
  <p class="western" align="justify">&nbsp;</p>
  </div>
  <div class="page">
    <p class="western" align="center"><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><strong>Exhibit 1</strong></span></span></p>
    <p class="western" style="font-family: 'Times New Roman', serif;">
      <strong>Scope &amp; Budget Plan</strong>:
    </p>
    <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        This Scope &amp; Budget Plan (“Scope &amp; Budget Plan”) is executed by and between
        eVidyaloka Education for All Network Foundation (“eVean Foundation”) and
      {{partner_name_org}} (“PARTNER”) effective as of {{acc_start_date}} and is governed by the
      terms and conditions of, and shall be attached to the Memorandum of Understanding
      between eVean Foundation and PARTNER dated {{acc_start_date}}. Capitalized terms used
      but not otherwise defined herein shall have the meanings ascribed to such terms in the
      MOU.
    </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left: 30px;">
    The scope of the engagement is estimated,
  </p>
  <p class="western" style="font-family: 'Times New Roman', serif;margin-left: 60px;">
    1. To be for {{partner_mou_obj.No_Of_schools}} school.
  </p>
  <p class="western" style="font-family: 'Times New Roman', serif;margin-left: 60px;">
    2. Partner personnel to be trained is {{partner_mou_obj.No_of_Coordinators}} Coordinator.
  </p>
  <p class="western" style="font-family: 'Times New Roman', serif;margin-left: 60px;">
    3. Start of the engagement is from {{acc_start_date}} and estimated till {{academic_year_end}}.
  </p>
  <p class="western">&nbsp;</p>
  <p class="western">&nbsp;</p>
  <table cellpadding="7" cellspacing="0" width="622" align="center">
      <tbody>
        <tr>
          <td height="17" style="border: 1.00pt solid #95b3d7;padding: 0.18cm;" width="8.208955223880597%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Sl. No</strong></p>
          </td>
          <td style="border-top: 1.00pt solid #95b3d7;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0.18cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="25.559701492537314%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Solution</strong></p>
          </td>
          <td style="border-top: 1.00pt solid #95b3d7;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0.18cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.044776119402986%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Cost in INR</strong></p>
          </td>
          <td style="border-top: 1.00pt solid #95b3d7;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0.18cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.417910447761194%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Units</strong></p>
          </td>
          <td style="border-top: 1.00pt solid #95b3d7;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0.18cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.791044776119403%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Period</strong></p>
          </td>
          <td style="border-top: 1.00pt solid #95b3d7;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0.18cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.97761194029851%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Total</strong></p>
          </td>
        </tr>
        <tr>
          <td height="35" style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: 1.00pt solid #95b3d7;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0.18cm;padding-right: 0.18cm;" width="8.208955223880597%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>1</strong></p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="25.559701492537314%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Academy - Training</strong></p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.044776119402986%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.417910447761194%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.791044776119403%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.97761194029851%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
        </tr>
        <tr>
          <td height="35" style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: 1.00pt solid #95b3d7;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0.18cm;padding-right: 0.18cm;" width="8.208955223880597%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="25.559701492537314%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">Coordinator</p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.044776119402986%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: left;">{{rate_of_coordinator}} INR</p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.417910447761194%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">{{partner_mou_obj.No_of_Coordinators}}</p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.791044776119403%">
            <p style="margin-bottom: 0cm;line-height: 120%;text-align: left;">1 Time</p>
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: left;">
              <br>
            </p>
		  </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.97761194029851%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">{{total_coordinator_cost}}</p>
          </td>
        </tr>
        <tr>
          <td height="18" style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: 1.00pt solid #95b3d7;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0.18cm;padding-right: 0.18cm;" width="8.208955223880597%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>2</strong></p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="25.559701492537314%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Offering</strong></p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.044776119402986%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.417910447761194%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.791044776119403%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.97761194029851%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
        </tr>
        <tr>
          <td height="70" style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: 1.00pt solid #95b3d7;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0.18cm;padding-right: 0.18cm;" width="8.208955223880597%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="25.559701492537314%">
            <p style="line-height: 120%;text-align: justify;margin-bottom: 0cm;">Volunteer Platform</p>
            <p style="line-height: 120%;text-align: justify;margin-bottom: 0cm;">Jupiter Platform</p>
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">Content Platform</p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.044776119402986%">
            <p style="line-height: 120%;text-align: justify;margin-bottom: 0cm;">{{rate_of_volunteer}} INR</p>
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.417910447761194%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">{{partner_mou_obj.No_of_volunteer}}</p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.791044776119403%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">{{total_month}} Months</p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.97761194029851%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">{{total_volunteer_cost}} INR</p>
          </td>
        </tr>
        <tr>
          <td height="17" style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: 1.00pt solid #95b3d7;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0.18cm;padding-right: 0.18cm;" width="8.208955223880597%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="25.559701492537314%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.044776119402986%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.417910447761194%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;">
              <br>
            </p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.791044776119403%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>Grand Total</strong></p>
          </td>
          <td style="border-top: none;border-bottom: 1.00pt solid #95b3d7;border-left: none;border-right: 1.00pt solid #95b3d7;padding-top: 0cm;padding-bottom: 0.18cm;padding-left: 0cm;padding-right: 0.18cm;" width="16.97761194029851%">
            <p style="margin-bottom: 0.25cm;line-height: 120%;text-align: justify;"><strong>{{total_cost}} INR</strong></p>
          </td>
        </tr>
      </tbody>
    </table><p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
    <p class="western" align="justify">&nbsp;</p>
  </div>
  <div class="page">
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
        <strong>Comments</strong>:
      </p>
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left: 30px;">
        1. Cheques to be drawn in favour of <strong>Evidyaloka Education for All Network Foundation</strong>
      </p>
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left:30px;">
        2. For NEFT, below are Account Details:
      </p>
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif; margin-left:45px;">
        Evidyaloka Education for all Network Foundation, 
      </p>
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left:24px;">
        &nbsp;&nbsp;&nbsp;&nbsp;
        A/c No: 38817871822, Bank Name: State Bank of India,
      </p>
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left:43px;">
        IFSC: SBIN0030495, PAN No: AAFCE6373A
      </p>
      <p class="western" align="justify" style="font-family: 'Times New Roman', serif; margin-left:30px;">
        3. For any queries, please contact venkat.sriraman@evidyaloka.org / +91 9902926149
      </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    <strong>Notes:</strong>
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left:30px;">
    1. Teacher engagement activation cost is as per utilization, and engagement offered is for a
    Subject and a Grade, till the end of the academic year. Drop or change within the year
    will be backfilled without any additional cost.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left:30px;">
    2. One volunteer teacher conducts sessions for one offering in a school. For example, 6th
    Maths is an offering, 7th Science is an offering.
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;margin-left:30px;">
    3. One volunteer teacher will conduct 2 sessions in a week for one hour each. In a month, a
    teacher conducts 8 sessions(hours).
  </p>
  <p class="western" align="justify" style="font-family: 'Times New Roman', serif;">
    This Scope &amp; Budget Plan does not supersede the MOU which defines the terms and conditions
    of business between eVean Foundation and PARTNER. This Scope &amp; Budget Plan is simply an
    appendix to the MOU covering specifics for the particular engagement. Should there be any
    conflict between the MOU and this Scope &amp; Budget Plan, the terms of the MOU shall govern.
  </p>
  <p class="western" align="justify"><br /> </p>
  <p class="western" align="justify"><br /> </p>
  <p class="western" align="justify">&nbsp;</p>
  <p class="western">&nbsp;</p>
            </div>
        
            <div class="modal-footer">
                </div>
          
        </div>
  </div></div></div> <script>
    function goBack() {
      window.history.back();
    }
    </script>