<style>
   
  .page {
    width: 21cm;
    
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
  
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }
  .navbar {
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.font_style {
  font-family: Calibri, serif;
}

.header_color {
  color: #366091;
}
.subheader_color {
  color:#4f81bd;
}
.font_size_lg {
  font-size: large;
}
.font_size_med {
  font-size:medium;
}
  </style>
  
      <div class="modal fade" id="submit-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content"style="height:515px,overflow-y: scroll;">
                <div class="modal-header">
                    <button class="navbar pull-right"onclick="goBack()" style='width: 46px'>X</button> 
                
                </div>
                <div class="modal-body" >
             
                    <div class="page">
                      <strong>Exhibit 2 - Terms of Engagement</strong>
                    </p>
                    <h1 class="header_color font_style font_size_lg font_color">General Information</h1>
                    <h2 class="subheader_color font_style font_size_med font_color" align="justify">Purpose:</h2>      <p align="justify">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      eVean Foundation is committed to providing quality education to the children in the rural
                      villages of our motherland.
                    </p>
                    <p align="justify">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      This exhibit contains details of the operational arrangements eVean Foundation makes with <strong>{{partner_name_org}}</strong> (hereafter referred to PARTNER) as by way of a partnership to achieve this
                      goal - to provide quality education to the children in the rural schools.
                    </p>
                    <h2 class="subheader_color font_style font_size_med font_color" align="justify">Program Scope</h2>
                    <p align="justify">eVidyaloka targets to extend educational services:</p>
                    <p align="justify" style="position: relative; left:30px;">
                      In Maths, Science and English </p>
                    <p align="justify" style="position: relative; left:60px;">
                      For Class V to VIII based on local State Board curriculum</p>
                    <p align="justify" style="position: relative; left:90px;">
                      Through set up of Digital Classroom &amp; web conference online teaching</p>
                    <p align="justify" style="position: relative; left:120px;">
                      With the support of teacher volunteers and partnering organizations</p>
                    <h2 align="justify" class="subheader_color font_style font_size_med font_color">Roles &amp; Responsibilities:</h2>
                    <p ">PARTNER will,</span></p>
                    <ul>
                      <li>ensure that the PARTNER’s services are aligned with the Schools’ needs and objectives
                        of the program</li>
                      <li>ensure that it meets all the regulatory requirements and all its licenses/certifications
                        etc. for carrying out the activities and are valid and current</li>
                      <li>provide access to eVean Foundation’s and/or their authorized representatives to the
                        locations or centres where PARTNER is conducting its activities, for the effective
                        functioning of the program</li>
                      <li>ensure that their agreements with contractors, school authorities or any third party
                        working along with the PARTNER contains proper anti-corruption and
                        confidentiality/data protection provisions (specifically complying with FCRA laws) and
                        the responsibility in ensuring compliance with applicable laws of the land.</li>
                    </ul>
                    <p align="justify" style="position: relative; left:30px;">
                      eVean Foundation has a commitment to comply with a policy on Data Protection and Privacy.
                      Therefore it is required that PARTNER appreciates the sensitivity on all data on eVidyaloka
                      including eVidyaloka staff, Volunteers, Donors, Schools and Students. PARTNER agrees to
                      comply with Data Protection and Privacy Policy as given in Exhibit 3.
                    </p>
                    <br/>
                    <p align="justify" style="position: relative;;">
                      eVidyaloka Education for All Network Foundation will,
                    </p>
                    <ul style="position: relative; left:40px;">
                      <li>Ensure that all eVean Foundation personnel comply with policy and systems in place at
                        Schools, as shared by the PARTNER.</li>
                      <li>Provide required data and information on the program to PARTNER/Schools
                        participating in the program.</li>
                      <li>Will maintain strict confidentiality of all information about Schools/students received
                        under this MOU.</li>
                      <li>Train the identified Class Coordinator(s), Partner coordinator(s).</li>
                      <li>Maintain the technology platform and provide the necessary support needed for the
                        remote class delivery operations</li>
                      <li>Identify volunteer teachers for selected class levels and subjects, as mutually agreed.</li>
                    </ul>
                    <br/>
                    <h1 class="header_color font_style font_size_lg font_color" align="justify">Infrastructure</h1>
                    <h2 class="subheader_color font_style font_size_med font_color" align="justify">Digital Classroom setup</h2>
                    <p align="justify" style="position: relative; left:30px;">A typical eVidyaloka digital classroom consists of the following. However, the setup can vary and be
                      different, which would still ensure, enablement of online classes.</p>
                      <ol style="position: relative; left:40px;">
                        <li>Computer (CPU)</li>
                        <li>LED TV</li>
                        <li>Webcam (with in-built Microphone)</li>
                        <li>Cables to connect</li>
                        <li>Internet Dongle</li>
                        <li>Electrical utilities and Inverter systems</li>
                        <li>A soft board</li>
                        <li>Speaker Assembly</li>
                      </ol>
                      <br/>
                    <p align="justify">PARTNER will identify the students (school/academic class level/subject) and work with the concerned
                      school administration to ensure the availability of classroom, the essential furniture for the classroom,
                      and infrastructure as above.</p>
                    <p align="justify">PARTNER will work with concerned school administration for maintenance and safe upkeep of the
                      classroom and will ensure that the assets are in working condition.</p>
                    <p align="justify">PARTNER will inform eVean Foundation for disruptions owing to any reason.</p>
                    </div> 
                    <div class="page">
                    <p align="justify">PARTNER will be responsible for the availability of the Internet through wired Broadband or Wi-Fi during
                      the class hours.</p>
                    <p align="justify">PARTNER will ensure Power &amp; Backup as necessary for the conduct of classes.</p>
                    <br/>
                    <h1 class="header_color font_style font_size_lg font_color" align="justify">Operations</h1>
                    <h2 class="subheader_color font_style font_size_med font_color">Training</h2>
                    <p align="justify">eVean Foundation’s Academy team will coordinate and deliver the identified and agreed training and
                      development requirements of the engagement, as per the agreed scope and budget.</p>
                    <h2 class="subheader_color font_style font_size_med font_color">Jupiter Platform Support</h2>
                    <p align="justify">Setup and Maintenance of the platform: Jupiter will be hosted in cloud servers and will be maintained by
                      eVidyaloka. eVidyaloka will also ensure system uptime and resolve issues that would be encountered, from time to time.</p>
                    <p align="justify">Any additional capabilities/features/feedback requested/provided will be taken up separately and considered for 
                      implementation as per the platform roadmap and discretion of eVean Foundation.</p>
                    <h2 class="subheader_color font_style font_size_med font_color">Volunteer Support</h2>
                    <p align="justify">eVidyaloka will onboard and work with the volunteers mobilized by the PARTNER. Volunteer allocation will be 
                      taken up as per scope and budget after the volunteers have registered online with eVidyaloka and have been recommended to teach by eVidyaloka.</p>
                    <h2 class="subheader_color font_style font_size_med font_color">Dispute Resolution/Arbitration:</h2>
                    <p align="justify">All disputes and differences arising out of or in connection with this MOU, including any question
                      regarding its existence, validity or termination, shall be referred to and finally resolved by arbitration in
                      Bangalore in accordance with the Arbitration and Conciliation Act, 1996 for the time being in force at
                      the commencement of the arbitration, which rules are deemed to be incorporated by reference in this
                      clause.</p>
                    <p align="justify">The Tribunal shall consist of three (3) arbitrators, two arbitrators nominated by each of the party and
                      the two arbitrators, in turn, appointing the presiding arbitrator.</p>
                    <p align="justify">The award of the Arbitrator shall be final, conclusive and binding on both the parties to this MOU.</p>
                    <h2 class="subheader_color font_style font_size_med font_color">Force Majeure</h2>
                    <p align="justify">This agreement is subject to Force Majeure clause. Neither party is deemed to have violated the
                      contractual obligation if impacted by the Force Majeure events such as Acts of God, Acts of War, Acts of
                      Government and local bodies, blockades, strikes, civil commotion, riots and the like. The party affected
                      by Force Majeure shall give notice within a period of 15 days from the date of occurrence of Force
                      Majeure indicating its cause and the period for which it is likely to last or affect execution.</p>
                    <h1 class="header_color font_style font_size_lg font_color" align="justify">FINANCIALS</h1>
                    <h2 class="subheader_color font_style font_size_med font_color">Budget/Planning</h2>
                    <p align=="justify">eVean Foundation and PARTNER will develop and enter into one or more Scope & Budget Plan as applicable.</p>
                    <p align="justify">All anticipated expenses and therefore the budget must be documented in a Scope & Budget Plan and executed by the parties. </p>
                    <h2 class="subheader_color font_style font_size_med font_color">CONFIDENTIALITY:</h2>
                    <p align="justify">PARTNER shall regard and preserve as confidential all information that may be obtained from any source
                      or may be developed in the course of this cooperation, by any means, during the period of the program
                      or otherwise and is related either to the digital classroom activities of eVidyaloka, its clients, consultants
                      or other entities with whom eVidyaloka does CSR activities; information relating to its employees; or
                      such other information that may be considered confidential by its very nature</p>
                    <p align="justify">PARTNER shall not use any time the name, logo or tagline of eVidyaloka in publicity releases,
                      promotional materials, announcements, client listings, testimonials or advertising without the prior
                      written consent of eVidyaloka.</p>
                    <p align="justify">eVean Foundation shall be entitled to use the name and trademarks of PARTNER in its statutory reports,
                      promotional material etc. with prior consent from PARTNER.</p>
                      
                    <p align="justify"><br /> </p>
                    <p>&nbsp;</p></div>
                    <div class="page">
                      <p class="western" align="center" style="font-family: 'Times New Roman', serif; font-size: medium;">
                    <strong>Exhibit 3</strong>
                    <p class="western" align="center" style="font-family: 'Times New Roman', serif; font-size: medium;">Organization name:{{partner_name_org}}</p>
                    <p align="justify">For the attention of Representative</p>
                    <p align="justify">After compliments.</p>
                    <p align="justify">Subject: <strong>Compliance with the General Data Protection Regulation</strong>  </p>
                    <p align="justify">Our (eVidyaloka’s) Data Policy complies with the European General Data Protection Regulation (GDPR) and therefore has a specific
                      obligation with regard to our vendor relationships. The GDPR requires companies to conduct appropriate due diligence on processors and to have contracts
                      requiring each party to comply with all applicable laws.</p>
                    <p align="justify">This document is your assurance to us that you have implemented appropriate technical and organizational measures in such a manner that your
                      processing of Personal Data will meet the requirements of the GDPR and ensure the protection of the rights of the data subjects. </p>
                    <p align="justify">You shall not engage any Subprocessor without our prior specific or general written authorization. If done your contract with the Subprocessor
                      shall contain sufficient guarantees that the processing will meet the requirements of the GDPR.  </p>
                    <p align="justify">Further, </p>
                    <p align="justify">(a) You shall process the Personal Data only </p>
                    <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(i) As needed to provide the Services, </p>
                    <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ii) In accordance with the specific instructions that it has received from us, 
                      including with regard to any Transfers, and </p>
                    <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(iii) As needed to comply with the law (in which case, you shall provide prior notice to 
                      us of such legal requirement, unless that law prohibits this disclosure); </p>
                    <p align="justify">(b) You shall ensure that persons authorized to process the Personal Data have committed themselves to confidentiality or are under an appropriate statutory obligation of 
                    confidentiality; </p>
                    <p align="justify">(c) You shall implement appropriate technical and organizational measures to ensure a level of security appropriate to the risk, including the ability to restore the availability 
                    and access to Personal Data in a timely manner in the event of a physical or technical incident. </p>
                    <p align="justify">In assessing the appropriate level of security account shall be taken in particular of the risks that are presented by processing, in particular from accidental or unlawful destruction, 
                    loss, alteration, unauthorized disclosure of, or access to Personal Data transmitted, stored or otherwise processed.</p>
                    <p align="justify">(f) At our discretion, you shall delete or return all the Personal Data to us after the end of the provision of services relating to Processing, and delete existing copies </p>
                    <p align="justify">(g) You shall provide us with all information necessary to demonstrate compliance with the obligations laid down in the GDPR, and allow for and contribute to audits, including inspections, 
                    conducted by us or another auditor mandated by us.</p>
                    <p align="justify">(h). You shall not transfer any Personal Data without our prior consent. </p>
                    <p align="justify">(i). You will promptly and thoroughly investigate all allegations of unauthorized access to, use or disclosure of the Personal Data. You will notify us without undue delay in the event of any 
                    Personal Data Breach. </p>
                    <br>
                    <br>
                    <p align="justify">e request you to please sign this letter in duplicate and return the same to us as your agreement and compliance to the data protection and privacy as above.</p>
                    <p align="justify">Thanking you.</p>
                    <p align="justify"><strong>Education for All Network Foundation</strong> </p>
            
            
            
            
            
                    </div>
                  </div>
              </div>
            

</div> <div class="modal-footer">
    

    
    </div>
</div>
</div>
</div>  <script>
    function goBack() {
      window.history.back();
    }
    </script>