<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Maintenance</title>
<head>

<body>
<center>
    <h2>
        We are sorry for the inconvenience. We are performing some maintenance at the moment.
           <br/>
        Site will be under maintenance between 28/04/2022 7:00PM to 28/04/2022 9:00PM IST. .
          <br/>
        Well be back online as early as possible

        <br/>
        You can always contact us <a href="mailto:talktosomeone@evidyaloka.org"> here.</a>

    </h2>

</center>
</body>
</html>