
{% extends "base.html" %}


{% block head_styles %} 
{{ block.super }} 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .about-container{
            min-height  : 490px;
            padding-top : 6%;
        }
        .clearfix.inner {
            text-align : center;
        }
        #password_reset{
            background-color: white;
            padding: 30px;
            display: inline-block;
            text-align: left;
            margin-left: 12%;
        }
        .form_ele{
            margin:auto;
        }
        #submitButton{
            font-family : 'open sans';
        }
    </style>
{% endblock %}

{% block body_container %}

<div id="content" class="clearfix">
    <div class="about-container" id="about-landing">
        <div class="inner clearfix" style="width: 100%;">
            <div class="left-nav">
                <ul class="clearfix">
                    <li><a href="#" class="about-1 active"><span>Change Password</span></a></li>
                </ul>
            </div>
            <div class="right-content" style="width: 100%;">
                {% block right_content %}
                    <div class="top clearfix">
                        <div class="intro">
                            <h1>Password Reset</h1>
                        </div>
                    </div>
                    {% block bottom_content %}
                        <div class="paper-bg-wrapper">
                            <div class="paper-bg">
                                <div class="subcontent" style="width: 100%;">
<form id='password_reset' action="/accounts/password/reset/" method="post" style="position:relative;left:-7%">
{% csrf_token %}
    <p>Forgotten your password? Enter your e-mail id below, and we'll e-mail instructions for setting a new one.</p>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label>
    <input type="email" name="email" />
    {{ form.email }} <input class="btn btn-warning" id="submitButton" type="submit" value="Reset my password" /></p>
</form>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#password_reset').submit(function( event ){
    	$("#submitButton").prop("disabled", true);
       event.preventDefault();
       var email = $(this).find('input[name="email"]');
       if( email.val() == '' ){
            evd.show_msg('Email is required');
       }else{
            var serial_form = $(this).serializeArray();
            var url = $(this).attr('action');
            var form_data = {};
            $.each(serial_form,function(){
                form_data[this.name] = this.value;
            });
            $.post(url,form_data,function(resp){
                evd.show_msg(resp[0].message);
                $("#submitButton").prop("disabled",false );
            });
       }
    });
});
</script>
{% endblock body_container %}
