<p style="font-size:12px; line-height:0.3" >With Regards,</p>
{% if userclass %}
    <p style="font-size:12px;line-height:0.3;" >eVidyaloka Class Delivery Team</p>
{% else %}
    <p style="font-size:12px;line-height:0.3;" >eVidyaloka Onboarding Team</p>
{% endif  %}
<img src="{{host}}/static/images/resize_evd_logo.jpg"/>
<img src="{{host}}/static/images/evd_tagline.png"/>
<p style="font-size:12px;line-height:0.3;" ><a href="{{host}}">www.evidyaloka.org<a></p>
<p style="font-size:12px;line-height:0.3;" >talktosomeone@evidyaloka | +91 80 4090 3939</p>
