<p style="font-size:14px;" >Dear {{first_name}} {{last_name}},</p>
<p style="font-size:14px;" >Reminder about your booking at evidyaloka for teacher selection discussion.</p>
<p style="font-size:14px;" >Selection Discussion time as follows</p>
<p style="font-size:14px;" ><b>Time:</b> {{timing}}<br>Duration: 20 Mins</p>
<p style="font-size:14px;" >Skype Discussion id: evidyaloka.discussion</p>
<p style="font-size:14px;" >Kindly be on time.</p>
<p style="font-size:14px;" >For any queries, please do write back to discussions@evidyaloka.org</p>
<br>
