<p style="font-size:14px;" > Dear Team, </p>
<p style="font-size:14px;" >A new partner has registered on eVidyaloka Learning App. The user details are as below:</p>
<p style="font-size:14px;" >Username: {{username}} </p>
<p style="font-size:14px;" >Organization Name: {{org_name}}</p>
<p style="font-size:14px;" >User email address: {{contactperson_email}}</p>
<p style="font-size:14px;" >User phone number: {{contactperson_phone}}</p>
<br>
<p style="font-size:12px;" >Regards,</p>
<p style="font-size:12px;" >eVidyaloka Jupiter Team</p>