<p style="font-size:14px;" > Dear {{partner_fname}} {{partner_lname}}, </p>
<p style="font-size:14px;" >A new user has registered on eVidyaloka Platform with your reference channel. The details are as below:</p>
<p style="font-size:14px;" >Volunteering Reference: www.evidyaloka.org/volunteer/p/{{partner_id}}/ </p>
<p style="font-size:14px;" >User name: {{username}} </p>
<p style="font-size:14px;" >User email address: : {{user_email}} </p>
<p style="font-size:14px;" >You may assign the user a role by logging into <a href="https://www.evidyaloka.org/myevidyaloka/" >www.evidyaloka.org/myevidyaloka</a>. </p>
<p style="font-size:14px;" >For any queries, please write back to classdelivery@evidyaloka.org. </p>
<br>
<p style="font-size:12px;" >Regards,</p>
<p style="font-size:12px;" >eVidyaloka Jupiter Team</p>