<div dir="ltr">
    <div style="box-sizing:inherit;max-width:none;margin-bottom:4px;font-family:Slack-Lato,Slack-Fractions,appleLogo,sans-serif;font-variant-ligatures:common-ligatures">
        <div style="box-sizing:inherit;max-width:none">
            <div style="box-sizing:inherit;width:1192px">
                <div style="box-sizing:inherit;display:flex">
                    <div dir="auto" style="box-sizing:inherit;width:1192px;line-height:1.46668">
                        <div style="box-sizing:inherit">
                            <font color="#000000">Dear {{username}},</font><span style="box-sizing:inherit;display:block;height:8px"></span>
                            <font color="#000000">
                                <div style="box-sizing:inherit">
                                    <font color="#000000"><br></font>
                                </div>
                                <div style="box-sizing:inherit">On behalf of our students, we would like to thank you for your time and efforts to volunteer with us.<br></div>
                            </font><span style="box-sizing:inherit;display:block;height:8px"></span>
                            <font color="#000000">
                                <div style="box-sizing:inherit"><br></div>
                                <div style="box-sizing:inherit">It's a pleasure to have passionate volunteers like you who want to contribute to the society and most importantly to children. You are making the world a better place for our students.<br></div>
                            </font><span style="box-sizing:inherit;display:block;height:8px"></span>
                            <font color="#000000">As a token of recognition of your invaluable contributions as a volunteer teacher at eVidyaloka, we take pleasure in sharing this certificate with you.</font><span style="box-sizing:inherit;display:block;height:8px"></span>
                            <font color="#000000">
                                <div style="box-sizing:inherit"><br></div>You can download the certificate from here:&nbsp;<a href="https://www.evidyaloka.org/config/my_certificate/" rel="noopener noreferrer" style="box-sizing:inherit;text-decoration-line:none" target="_blank"
                                    data-saferedirecturl="https://www.evidyaloka.org/config/my_certificate/">https://www.evidyaloka.org/config/my_certificate/</a></font>
                            <span style="box-sizing:inherit;display:block;height:8px"></span>
                            <font color="#000000">
                                <div style="box-sizing:inherit">
                                    <font color="#000000"><br></font>
                                </div>Our best wishes for the upcoming {{next_ay}}!</font><span style="box-sizing:inherit;display:block;height:8px"></span>
                            <font color="#000000">
                                <div style="box-sizing:inherit">
                                    <font color="#000000"><br></font>
                                </div>
                                <div style="box-sizing:inherit">
                                    <font color="#000000"><br></font>
                                </div>
                                <div style="box-sizing:inherit">
                                    <font color="#000000"><br></font>
                                </div>
                                <div style="box-sizing:inherit">
                                    <font color="#000000"><br></font>
                                </div>Regards,<br style="box-sizing:inherit">Team eVidyaloka<span dir="ltr" style="box-sizing:inherit;white-space:nowrap">&nbsp;</span></font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="box-sizing:inherit;max-width:600px;font-family:Slack-Lato,Slack-Fractions,appleLogo,sans-serif;font-variant-ligatures:common-ligatures">
        <div style="box-sizing:inherit;display:flex;margin:0px 0px 8px;max-width:600px">
            <div style="box-sizing:inherit;width:4px;border-radius:8px"></div>
            <div style="box-sizing:inherit;padding:0px 12px;width:596px;line-height:1.46667">
                <div style="box-sizing:inherit"><span style="box-sizing:inherit"><span style="box-sizing:inherit"><span dir="auto" style="box-sizing:inherit;font-weight:900"><font color="#000000"><a href="http://www.evidyaloka.org/" target="_blank" data-saferedirecturl="http://www.evidyaloka.org/">www.evidyaloka.org</a></font></span></span>
                    </span>
                </div>
                <div style="box-sizing:inherit"><span style="box-sizing:inherit;font-weight:700"><a rel="noopener noreferrer" href="https://www.evidyaloka.org/config/my_certificate/" style="box-sizing:inherit;text-decoration-line:none" target="_blank" data-saferedirecturl="https://www.evidyaloka.org/config/my_certificate/"><font color="#000000"><span dir="auto" style="box-sizing:inherit">eVidyaloka</span>
                    <span aria-label="(opens in new tab)" style="box-sizing:inherit"></span>
                    </font>
                    </a>
                    </span>
                </div>
                <div style="box-sizing:inherit"><span style="box-sizing:inherit"><span dir="auto" style="box-sizing:inherit"><font color="#000000">eVidyaloka is a non-profit organization that focuses on transforming the educational landscape of rural India. eVidyaloka creates digital classrooms for children in remote villages, with support of local communities and Volunteer Teachers across globe with standardized lesson plans and teaching aids</font></span></span>
                </div>
            </div>
        </div>
    </div>
</div>