*.swp
*.swo
*.swn
*.swm
*.pyc
*.svn
/.project
/.pydevproject
/bin/
*.log
.idea/
**/migrations/*
**/**/migrations
*.DS_Store
tempfiles/*
.env
static
static/*
logfiles
logfiles/*
scripts
scripts/*
local_settings.py
.vscode
gitstatic/
venv/
venv2/