.left-nav li a span, span.progress-bar {
    background-color:rgb(197, 197, 197) !important;
}
.span.progress-bar .perc {
    background-color: #333 !important;
}
#calendar .fc-header .fc-button .fc-button-content{
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    filter: alpha(opacity=0) !important;
    -moz-opacity: 0 !important;
    -khtml-opacity: 0 !important;
    opacity: 0 !important;
    width: 0px !important;
    height: 0px !important;
}
.dashboard-breadcrumb {
    height: 35px;
}
.dashboard-breadcrumb  > li{
    display: block !important;
    float: left;
}
.dashboard-breadcrumb  > li#logout{
    float: right;
}
#profile-picture .profile-pic-wrapper .caption {
    background-color:rgb(1,1,1);
}
ul.dropdown-menu {
    overflow: visible !important;
    z-index: 1024;
}
ul.dropdown-menu > li {
    width: 100% !important;
    z-index: 1024;
}
ul.dropdown-menu > li > a{
}
a.btn.btn-primary > span{
    padding-bottom: 10px;
}
#profile-picture {
    z-index: 1000;
}
#profile-picture div.caption {
    display: block !important;
    margin-top: 120px !important;
    left: 0px;
}
#profile-picture img.profile_pic {
    position: relative;
}
div.right-content{
    z-index: 1;
}
div.note-box div.pagination {
    position: absolute;
    top: 5px;
    right: 5px;
}
#homepage-sidebar  div {
    background: rgb(241, 90, 34);
}
/*
.user-block .user-pic {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='/static/profile_images/root.jpg',
    sizingMethod='scale');

    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='/static/profile_images/root.jpg',
    sizingMethod='scale');
}
*/
div#evd-notification, div#evd-notification div  {
    height: auto !important;
    display: block !important;
}
div#evd-notification p {
    display: block !important;
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
#slide-3 {
    background: #8DB08D !important;
}
div.demand-container {
    background: transparent !important;
}
#add-session-modal {
    width: 710px !important;
}
.teachers {
    width: 250px !important;
}
.nav-tabs.evd {
    overflow: hidden;
}
.nav-tabs.evd li.active a {
    border-bottom:0px;
}
div.timing-wrapper a.btn > span {
    padding-top:8px;
}
div.timing-wrapper a.btn {
    line-height: 5px;
}
select.planned-topics {
    margin-top: 5px;
}
