{% extends "footer_base.html" %} {% block head_styles %} 
{{ block.super}}
<style>
.clearfix.inner.fig {
	margin-top: 85px;
}

.subcontent h5 {
	margin-bottom: 0px;
}

.intro p {
	font-size: 16px;
	line-height: 24px;
}

.subcontent ul li p {
	margin: 10px 0px !important;
	text-align: justify;
}
</style>
{% endblock %} {% block leftnav_list %}
<li><a href="/about/" class="about-1"><span>About us</span></a></li>
<li><a href="/operating_principles/" class="about-3"><span>Principles</span></a></li>
<li><a href="/conduct/" class="about-4"><span>Code of
			Conduct</span></a></li>
<li><a href="/who_we_are/" class="about-5"><span>Who We
			Are</a></li>
<li><a href="/careers/" class="about-6 active"><span>Careers</span></a></li>
<li><a href="/governance/" class="about-8"><span>Governance</span></a></li>
<li><a href="/partners/" class="about-9"><span>Partners</span></a></li>
<li><a href="/faq/" class="about-10"><span>FAQ</span></a></li>
<li><a href="/contact_us/" class="about-11"><span>Contact
			Us</span></a></li>
{% endblock %} {% block top_content %}
<!--<div class="top clearfix">
        <div class="intro">
            <h1>Careers at eVidyaloka </h1>
        </div>
    </div>-->
{% endblock %} {% block bottom_content %}
<div class="paper-bg-wrapper">
	<div class="paper-bg">
		<div class="subcontent">
			<ul>
				<!-- <li>
					<h4>Director - Volunteer Management</h4>
					<h5 style="text-align: justify">
						Volunteers forms the bedrock of eVidyaloka. People from various
						strata of the society, participate in this remote online teaching
						model, teach and contribute in other ways, building the future of
						the children in villages in rural India. The position plays a
						critical role in reaching out to a broad segment of the society
						and scale the model to every remote and rural village of India.<br>
						<a href="/static/uploads/careers_files/JD - Director - VA.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
                 <!-- <li>
					<h4>Director - Relations and strategic planning</h4>
					<h5 style="text-align: justify">
						The purpose of this role is to establish an accountable anchor in budget, people, culture and organization growth and stability.<br>
						<a href="/static/uploads/careers_files/JD - Director-converted.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				
				 <!-- <li>
					<h4>Coordinator - Donor Relations</h4>
					<h5 style="text-align: justify">
						The purpose of this role is to have a proactive and sustained engagement with prospective and current donors, including CSR foundations, commercial enterprises, and high net-worth individuals.<br>
						<a href="/static/uploads/careers_files/JD - Donor Coordinator-converted.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li>
                  -->
				<!-- <li>
					<h4>Coordinator - Marketing and communications</h4>
					<h5 style="text-align: justify">
						eVidyaloka classes are taken by volunteer teachers spread across the world.
						To expand our operations to newer states and more centers marketing and
						communication is key. This role entails handling of the marketing and communications
						requirements at eVidyaloka.<br>
						<a href="/static/uploads/careers_files/JD - Coordinator - Marketing and Communications.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->

				<!-- <li>
					<h4>Coordinator - Academy and Quality</h4>
					<h5 style="text-align: justify">
						  Evidyaloka model is one of its kind and we would like to build it to world class
						standards as Evidyaloka Academy. This role entails in making content and design modules
						to train various stakeholders in the model. It also entails delivering highest ]
						quality education with focus on consistent improvement.
						<a href="/static/uploads/careers_files/JD - Coordinator - Academy and Quality.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				<!-- <li>
					<h4>Operations coordinator - Telugu</h4>
					<h5 style="text-align: justify">
						  The primary purpose of this role is to work with the volunteers and administrators of 
						  AP and TS state and with other support teams at eVidyaloka on a  day to day basis, in 
						  ensuring that the classes happen as per plan.
						<a href="/static/uploads/careers_files/JD - Coordinator - Class Delivery AP.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li>
				<li>
					<h4>Operations coordinator - Marathi</h4>
					<h5 style="text-align: justify">
						   The primary purpose of this role is to work with the volunteers and administrators of
						   Maharastra state (10+ centers) and with other support teams at eVidyaloka on a  day to 
						   day basis, in ensuring that the classes happen as per plan
						<a href="/static/uploads/careers_files/JD - Coordinator - Class Delivery MH.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				<!-- <li>
					<h4>Operations coordinator - Hindi</h4>
					<h5 style="text-align: justify">
						   The primary purpose of this role is to work with the volunteers and administrators of Jharkhand,Uttarakhand,Bihar & UP state ( centers) and with other support teams at eVidyaloka on a day to day basis, in ensuring that the classes happen as per plan.
						<a href="/static/uploads/careers_files/JD - Coordinator - Class Delivery-Hindi converted-converted.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				<!-- <li>
					<h4>Content delivery coordinator - Science</h4>
					<h5 style="text-align: justify">
						   The purpose of this role is to drive academic rigor, continuous improvement to the eVidyaloka 
						   content repository - wikividya and facilitating the improvement of eVidyaloka classes delivered.
						<a href="/static/uploads/careers_files/Content delivery coordinator - Science.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li>
				<li>
					<h4>Content delivery coordinator - Maths</h4>
					<h5 style="text-align: justify">
						   The purpose of this role is to drive academic rigor, continuous improvement to the eVidyaloka content repository - wikividya and facilitating the improvement of eVidyaloka classes delivered.
						<a href="/static/uploads/careers_files/Content delivery coordinator - Maths-converted-converted.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				<!-- <li>
					<h4>Coordinator - Data Analyst</h4>
					<h5 style="text-align: justify">
						eVidyaloka is looking for an experienced Data Analyst who is able to turn project
						requirements into custom-formatted data reports. We also need someone who is able to
						analyze business procedures and recommend specific types of data that can be
						used to improve upon them.
						<a href="/static/uploads/careers_files/JD- Coordinator - Data Analysis.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				<!-- <li>
					<h4> Coordinator - Academy</h4>
					<h5 style="text-align: justify">
						The purpose of this role is build capacity and enable different stakeholders to run the digital
						classrooms in government schools in villages and enable individuals, community, organization to deliver quality education
						with focus on continuous development in students and drive a streamlined training programme.
						<a href="/static/uploads/careers_files/JD - Coordinator - Academy.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
				<!-- <li>
					<h4> Coordinator content volunteer</h4>
					<h5 style="text-align: justify">
						The primary purpose of this role is to screen, onboard and engage content volunteers.
						<a href="/static/uploads/careers_files/jd-coordinator-content.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li>
				<li>
					<h4> Coordinator - Content Channels</h4>
					<h5 style="text-align: justify">
						The primary purpose of this role is to work with various content providers and volunteering organizations to create and curate content for eVidyaloka.
						<a href="/static/uploads/careers_files/JD-Coordinator-Corporate.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li>
				<li>
					<h4> Coordinator - corporate content channels</h4>
					<h5 style="text-align: justify">
						The primary purpose of this role is to screen,orient, onboard and engage volunteers from corporate channels
						<a href="/static/uploads/careers_files/JD-Coordinator-ContentChannels.pdf"
							target="_blank"> Click here for the Job Description</a>
					</h5>
				</li> -->
			</ul>
			<p>
				<img src="/static/images/mail_contact.png" /><span>&nbsp;&nbsp;&nbsp;<a
					href="mailto:career@evidyaloka.org">career@evidyaloka.org</a></span>
			</p>

		</div>
	</div>
</div>
{% endblock %}


