{% extends "footer_base.html" %}

{% block head_styles %}
    {{ block.super }}
    <style>
        .about-container{
            padding-top: 83px !important;
        }
        .subcontent h5 {
            margin-bottom:0px;
        }
        .intro p {
            font-size:16px;
            line-height:24px;
        }
        .subcontent ul li p {
            margin:10px 0px !important;
            text-align:justify;
        }
    </style>
{% endblock %}

{% block leftnav_list %}

    <li><a href="/about/" class="about-1"><span>About us</span></a></li>
    <li><a href="/vision/" class="about-2"><span>Vision & Mission</span></a></li>
    <li><a href="/operating_principles/" class="about-3"><span>Principles</span></a></li>
    <li><a href="/conduct/" class="about-6 active"><span>Code of Conduct</span></a></li>
    <li><a href="/who_we_are/" class="about-2 "><span>Who We Are</a></li>
    <li><a href="/partners/" class="about-7"><span>Partners</span></a></li>
    <li><a href="/faq/" class="about-4"><span>FAQ</span></a></li>
    <li><a href="/contact_us/" class="about-5"><span>Contact Us</span></a></li>
        

{% endblock %}
{% block top_content %}
 <!--   <div class="top clearfix">
        <div class="intro">
            <h1>Why Code of Conduct:</h1>
            <p>A code is an open disclosure of the way an organization operates. It provides visible guidelines for behavior.</p>
            <p>eVidyaloka strive to be a responsible non-profit organization and takes full accountability in the activities that take place remotely both within the eVidyaloka digital classroom and the volunteers, who engage with the children on a day to day basis.</p>
            <p>At eVidyaloka we feel it is important to let our Children, Local Centre-Co-ordinators, eVidyaloka Staff and Volunteers know what kind of conduct they can expect from eVidyaloka team.</p>
        </div>
    </div>-->
{% endblock %}
{% block bottom_content %}
    <div class="paper-bg-wrapper">
        <div class="paper-bg">
            <div class="subcontent">
               <ul>
                    <li>
                        <h4>Why Code of Conduct:</h4>
                        <p>
                            A code is an open disclosure of the way an organization operates. It provides visible guidelines for behavior.
                        </p>
                        <p>
                            eVidyaloka strive to be a responsible non-profit organization and takes full accountability in the activities that take place remotely - 
                            within the eVidyaloka Digital Classroom and with the volunteers, who engage with the children on a day-to-day basis.
                        </p>
                        <p>
                            At eVidyaloka, we feel it is important to let the children, the local centre coordinators, the eVidyaloka staff and volunteers know 
                            what kind of conduct they can expect from the eVidyaloka team.
                        </p>
                    </li>
                    <li>
                        <h4>Confidentiality</h4>
                        <h5>All eVidyaloka Volunteers</h5>
                        <p>
                            Will honour the confidentiality of children, centre coordinators, peer volunteers, staff, sponsors and donors and adhere to the 
                            established precepts of confidentiality of eVidyaloka policies & procedures and government legislation.
                        </p>
                        <p>
                            Will not disclose information relating to the above, to any person who is not authorized by eVidyaloka to have such information 
                            without specific permission of the individual concerned.
                        </p>
                    </li>
                    <li>
                        <h4>Non-Discrimination Equity</h4>
                        <p>
                            eVidyaloka (I) Volunteer will neither practice, nor tolerate discrimination or harassment of any staff member, Volunteer, Children, 
                            Local Coordinator on caste, race, creed, colour, place of origin, ethnic origin, ancestry, citizenship, political or religious 
                            affiliation, gender, sexual orientation, age, marital status, family relationship, economic status, identity, disability or record of offences.
                        </p>
                        <p>
                            I will treat all people with respect and dignity.
                        </p>
                        <p>
                            I will respect the cultures, beliefs and opinions of others and treat people with sensitivity and courtesy.
                        </p>
                    </li>
                    <li>
                        <h4>Alcohol/Drug</h4>
                        <p>
                            eVidyaloka (I) Volunteer understand that being under the influence of alcohol or drugs may interfere with our ability to 
                            deliver service. eVidyaloka (I) Volunteer therefore agree not to perform our volunteer duties while under the influence 
                            of drugs or alcohol; not to provide a child with illegal contents or encourage their use.
                        </p>
                    </li>
                    <li>
                        <h4>During Class</h4>
                        <h5>eVidyaloka (I) Volunteer</h5>
                        <p>
                            Will dress appropriately at all times, with regard, and be sensitive to the remote center culture.
                        </p>
                        <p>
                            Will not engage in political discussions or illegal activities.
                        </p>
                        <p>
                            Will not offer gifts or other donations in cash or kind to the Children or Centre Coordinator without prior permission of 
                            the Trustees of eVidyaloka.
                        </p>
                    </li>
                    <li>
                         <h4>Relationship Boundaries</h4>
                         <p>
                            eVidyaloka encourages friendly relations between eVidyaloka volunteers and those they serve (eVidyaloka Staff & Centre Coordinators). 
                            However, it is important to remain aware of appropriate boundaries.
                         </p>
                    </li>
                    <li>
                        <h4>Accountability</h4>
                        <p>
                            eVidyaloka (I) Volunteer agree to participate in supervision that is acceptable, reasonable, regular and visible according to 
                            the guidelines of the individual programs we are assigned to. Supervision guarantees accountability for the performance of 
                            assigned responsibilities, provides an opportunity for feedback and guidance, and assistance and support in my role as a Volunteer.
                        </p>
                    </li>
                    <li>
                        <h4>Training & Development</h4>
                        <p>
                            eVidyaloka (I) Volunteer understand that in accepting a volunteer position , I am agreeing to undertake and complete the necessary 
                            skill acquisition before, during and in the course of volunteer assignment as outlined by the Coordinator and as indicated in our 
                            program agreements. We value our own continuing development and understand that it is essential as a vVolunteer. We will do this 
                            by keeping updated on new information, attend monthly meetings as called by eVidyaloka and participate in the improvements by 
                            sharing continuous feedback.
                        </p>
                    </li>
                    <li>
                        <h4>Copyright</h4>
                        <p>
                            eVidyaloka (I) Volunteer will always respect the Local & International laws with respect to Copyright of Materials used during the class. 
                            We at all times will share the source of the information and will take necessary permission where there are restrictions before 
                            using the materials.
                        </p>
                    </li>
                    <li>
                        <h4>Non-Compliance</h4>
                        <p>
                            eVidyaloka (I) Volunteer understand that failure to adhere to any and all parts of this code may result in suspension from our volunteer 
                            duties and/or termination of our volunteer relationship with eVidyaloka.
                        </p>
                        <p>
                            I have read and I understand the eVidyaloka Volunteer Code of Conduct. I agree to abide by the rules described above and understand that 
                            I may be removed as a participant if I violate any of these rules.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

