{% extends 'new_ui.html' %}

{% block content %}

    <section>
        <div style=" margin-top: 8%;margin-left: 4%;">Home >> My eVidyaloka</div>
        <div class="container" style="width:93%;margin-top: 2%;background-color:white;">
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <div>
                        <button type="button" class="btn btn-success">Profile<i class="fa fa-pencil"
                                                                                aria-hidden="true"></i></button>
                    </div>
                    <br>
                    <div style="margin-top: -10%;">
                        <button type="button" class="btn btn-success">Settings</button>
                    </div>
                    <div style="margin-top: 2%;">
                        <button type="button" class="btn btn-success">Logout</button>
                    </div>
                </div>
                <div align="center" class="col-sm-8">

            <span><p style="font-size:20px;font-weight: 800;">Thank you for choosing as a well-wisher. There are 1000 teachers needed
                to fill the requirement in 600 schools. You can learn more about the need by
                clicking the below button:-
            </p></span>

                </div>


            </div>
            <div class="row" align="center">

                <div class="col-md-2"
                     style="width:20%;margin-left:42%;text-align: center;background: #31b2de;padding:12px;margin-bottom:25px;color:white;">
                    <a style="font-family:serif;font-size: 20px;color:white;" href="/v2/next_opportunity_page">Browse
                        Opportunities</a>
                </div>
            </div>
            <div class="row">
                <div class="text-center" align="center"><p style="font-size:20px;font-weight:bold;">If you want to
                    chnage the nature of your contribution at any point, you can<br> click the button below:-</p></div>
                <div class="col-md-2"
                     style="width:16%;margin-left:45%;text-align: center;background: #31b2de;padding:12px;margin-bottom:25px;color:white;">
                    <a style="font-family:serif;font-size: 26px;color:white;" href="#">Contribution <i
                            class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>

            </div>
             <div class="row">

        <div class="col-sm-3"><span><h3>Volunteer Helpline</h3><img style="width: 59%;height: 10%;" src="/static/images/telephone.jpg" alt="image"></span></div>
        <div class="col-sm-3">  <span>  <h3>Check out the curriculum</h3><img style="width: 83%;" src="/static/images/book_image.jpeg" alt="image"></span></div>
        <div class="col-sm-3">   <span> <h3>Connect with the community</h3><img style="width: 83%;" src="/static/images/community.jpeg" alt="image"></span></div>
        <div class="col-sm-3">   <span> <h3>Explore eV Centers</h3><img style="width: 88%;" src="/static/images/centers.jpg" alt="image"></span></div>
    </div>
    <br>
     <div>
         <div class="col-sm-3"></div>
         <div class="col-sm-3"><span><h3>Browse Opportunity</h3><img style="width: 83%;" src="/static/images/opportunity.jpg" alt="image"></span></div>
         <div class="col-sm-3"><span><h3>Get Training</h3><img style="width: 100%;" src="/static/images/chalk-board.jpg" alt="image"></span></div>
         <div class="col-sm-3"></div>

    </div>


        </div>
    </section>
{% endblock content %}