{% extends "base.html" %}

{% block body_container %}

<div class="inner clearfix">
    <div class="left-nav">
        <ul class="clearfix">
            <li><a href="/pages/about" class="about-1"><span>About</span></a></li>
            <li><a href="/pages/who-we-are" class="about-2"><span>Who We Are</span></a></li>
            <li><a href="/pages/our-commitment" class="about-3"><span>Our Commitment</span></a></li>
            <li><a href="/pages/the-process" class="about-4"><span>The Process</span></a></li>
            <li><a href="/pages/faq" class="about-5"><span>FAQ</span></a></li>
        </ul>
</div>

{% endblock %}
