{% extends 'new_ui.html' %}

 {% block content %}
<!--   <div style="ba    ckground:silver;">j</div> -->
<hr>
    <section class="border-bottom border-light" style="background:white;">
  <div class="container">
  	<div class="row">
     <div class="col-12 text-center mb-4 mt-5">
       <h4>Gallery</h4>
     </div>
      <div class="col-12 text-center">
        <ul class="nav tab-line tab-line--2x border-bottom mb-4 nav-isotop-filter">
           <a class="nav-item nav-link active all_cls" href="#" data-filter="*">
            All
          </a> 
          <a class="nav-item nav-link" href="#" data-filter=".videos">
            Videos 
          </a>
          <a class="nav-item nav-link images" href="#" data-filter=".images">
            Images 
          </a>
       </ul>
      </div> <!-- END col-12 -->
    </div> <!-- END row-->
  
  <div class="row isotop-filter">
  	 <div class="col-lg-12 col-md-12 marginTop-30 videos">
<!--      <h3 class="col-md-12">How eVidyaloka helps rural students</h3> -->
     
<div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
          <!-- https://youtu.be/fEGxN2u9p-s
          https://youtu.be/4Y1aGTZGpCA
          https://youtu.be/3vJ4jZZG63o -->
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media" 
                    src="https://www.youtube.com/embed/fEGxN2u9p-s"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/fEGxN2u9p-s" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/4Y1aGTZGpCA"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/4Y1aGTZGpCA" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/3vJ4jZZG63o"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/3vJ4jZZG63o" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
	</div>
</div>
     
     
     <br><br><br>
     <h3 class="col-md-12">eVidyaloka Offline Orientation and Demo Classes</h3>
     <hr class="mb-5">
     <div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/DhmVpNCEWOo"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/DhmVpNCEWOo" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
            <div class="media-viewer video_width">
			 <a href="https://www.youtube.com/embed/kf-Zagr442E"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/kf-Zagr442E"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			 </a>
		 	</div>
          
		 <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/THyfdA8rttQ"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/THyfdA8rttQ"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
		 
		 <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/QoGwo5pytkU"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/QoGwo5pytkU"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
     </div>
     </div>
     
     
     
     
     
     <br><br><br>
     <h3 class="col-md-12">Teachers and Students Feedback</h3>
     <hr class="mb-5">
     <div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/gXpDtoE49YQ"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/gXpDtoE49YQ" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
          <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/u0nQ85LgYQ8"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/u0nQ85LgYQ8"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>

		 <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/tvTBYx4Mqyc"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/tvTBYx4Mqyc"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
		
		<div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/Dh6Q9QO5gWE"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/Dh6Q9QO5gWE"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
	</div>
     </div>
     
     <br><br><br>
     <h3 class="col-md-12">Events</h3>
     <hr class="mb-5">
     <div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
          
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/5dBvepTVwlQ"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/5dBvepTVwlQ" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/W_V4VCAqqIk"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/W_V4VCAqqIk" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/NdMXbx5KJI8"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/NdMXbx5KJI8" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/2_N_BalN27I"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/2_N_BalN27I" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/9FX5jJ1AH9Y"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/9FX5jJ1AH9Y" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/lzpLZosjjzw"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/lzpLZosjjzw" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
          
	</div>
     </div>
     
     </div>
     
     </div>
     
     
     
    <br class="hide_cls"><br class="hide_cls"><br class="hide_cls"><br class="hide_cls">
     
      <div class="row isotop-filter">
     <div class="col-md-12 col-lg-12 marginTop-30 images">
<!--      <h3 class="col-md-12">Pictures</h3> -->
<!--      <hr class="mb-5"> -->
	   <h3 class="col-md-12 hide_cls">Images</h3>
       <hr class="mb-5 hide_cls">
       <div class="owl-carousel" data-space="30" data-arrow="true">
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/5dBvepTVwlQ"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/5dBvepTVwlQ" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/W_V4VCAqqIk"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/W_V4VCAqqIk" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/NdMXbx5KJI8"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/NdMXbx5KJI8" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/2_N_BalN27I"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/2_N_BalN27I" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/9FX5jJ1AH9Y"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/9FX5jJ1AH9Y" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/lzpLZosjjzw"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/lzpLZosjjzw" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
	</div>
	
	 <br><br><br>
     <h3 class="col-md-12">eVidyaloka Offline Orientation and Demo Classes</h3>
     <hr class="mb-5">
     <div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/DhmVpNCEWOo"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/DhmVpNCEWOo" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
            <div class="media-viewer video_width">
			 <a href="https://www.youtube.com/embed/kf-Zagr442E"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/kf-Zagr442E"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			 </a>
		 	</div>
          
		 <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/THyfdA8rttQ"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/THyfdA8rttQ"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
		 
		 <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/QoGwo5pytkU"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/QoGwo5pytkU"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
     </div>
     </div>
     
     
     <br><br><br>
     <h3 class="col-md-12">Teachers and Students Feedback</h3>
     <hr class="mb-5">
     <div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/gXpDtoE49YQ"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/gXpDtoE49YQ" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
          <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/u0nQ85LgYQ8"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/u0nQ85LgYQ8"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>

		 <div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/tvTBYx4Mqyc"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/tvTBYx4Mqyc"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
		
		<div class="media-viewer video_width">
			<a href="https://www.youtube.com/embed/Dh6Q9QO5gWE"
				class="text-white font-size-30" data-fancybox="gallery"> <iframe
					class="frame_width media-viewer__media"
					src="https://www.youtube.com/embed/Dh6Q9QO5gWE"></iframe> <!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
				<div class="media-viewer__overlay bg-black-0_7 flex-center"
					style="height: 100%;">

					<!--                 <i class="ti-plus"></i> -->

				</div>
			</a>
		 </div>
	</div>
     </div>
     
     
          <br><br><br>
     <h3 class="col-md-12">Events</h3>
     <hr class="mb-5">
     <div class="col-12">
       <div class="owl-carousel" data-space="30" data-arrow="true">
          
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/5dBvepTVwlQ"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/5dBvepTVwlQ" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/W_V4VCAqqIk"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/W_V4VCAqqIk" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          
         <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/NdMXbx5KJI8"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/NdMXbx5KJI8" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
         </div>
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/2_N_BalN27I"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/2_N_BalN27I" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/9FX5jJ1AH9Y"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/9FX5jJ1AH9Y" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
          
          <div class="media-viewer video_width">
         <iframe class="frame_width media-viewer__media"
                    src="https://www.youtube.com/embed/lzpLZosjjzw"></iframe>
<!--             <img class="media-viewer__media" src="https://www.youtube.com/embed/4Y1aGTZGpCA" alt=""> -->
            <div class="media-viewer__overlay bg-black-0_7 flex-center"  style="height:100%;">
              <a href="https://www.youtube.com/embed/lzpLZosjjzw" class="text-white font-size-30" data-fancybox="gallery">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
	</div>
     </div>
     
     
	
     </div>
     
     </div>
     
     
     
     
     
     
     
     
     
     
  </div> <!-- END container-->
  <br><br><br><br>
</section>
<style>
.owl-carousel > .owl-nav {
	display : block !important;
}

iframe{
	border: 0px !important;
}
.video_width, .frame_width{
	height: 300px !important;
}
</style>
    
        
 {% endblock content %}
 
 {% block scripts %}
 {{ block.super }}
 <script>
 $('.images').click(function(){
	 $('.hide_cls').css('display','none');
	 
 });
 $('.all_cls').click(function(){
	 $('.hide_cls').css('display','block');
	 
 });
 
/*  $(document).ready(function(){
	 $('#myclass').trigger('onclick');	 
 });
 */ 
 </script>
 {% endblock scripts %}
 
 
 