{% extends 'new_base.html' %}
{% block body_section %}
<section class="about_sec_1">
    <div class="container">
        <div class="row" style="margin-top:120px;font-weight:bold;line-height:2;font-family:'Georgia';color:black">
            <p>eVidyaloka is a not for profit organization registered under the Trusts Act. It focuses on transforming the education landscape in the rural and remote regions of the India. We strive to achieve this by involving the local communities to own the digital classrooms, inspiring and empowering the volunteers to contribute back, from wherever they are, and by providing standardized lesson plans and teaching aids for a consistent learning experience to the children.</p>
            <p>Our focus is to improve the learning outcome of the children who participate through our Digital Classrooms, established in the remote locations and ensure that they "understand and apply the concepts of their respective standards in their regular curriculum subjects".</p>
        </div>
        <div class="row" align="center">
            <p><a class="button btn-history"style="background-color:transparent;color:yellow" href="/our_history/">Our History</a></p>
        </div>
    </div>
</section>
<section class="patients about_bg about_us_funders">


<!--<div class="row">
    <div id="tabs" class=""style="margin-left:-4px;height:400px;">
    <ul style="margin-bottom:-5px">
        <li><a href="#tabs-1" style="outline-color:transparent;">news-1</a></li>
        <li><a href="#tabs-2" style="outline-color:transparent;">news-2</a></li>
        <li><a href="#tabs-3" style="outline-color:transparent;">news-3</a></li>
    </ul>
    <div id="tabs-1" style="height:200px">
        asd
    </div>
    <div id="tabs-2" style="height:200px">
        fgh
    </div>
    <div id="tabs-3" style="height:200px">
        kdl
    </div>
</div>-->



<section class="badges_container carousel">
            <div class="container tabs" id="">
               <header class="row">
                  <h2 class="span24" style="margin-top:0px;margin-bottom:10px">Our team</h2>
               </header>
               <div class="row">
                  <div class="span24">
                     <ul class="links">
                        <li class="tab_style"><a class="btn-2" href="#trustees">Trustees & Advisors</a></li>
                        <li class="tab_style"><a href="#execution">Execution Team</a></li>
                        <li class="tab_style"><a href="#class_admin">Class Administrators</a></li>
                     </ul>
                  </div>
               </div>
               <!--<section id="trustees" class="patients">
                  

             <div class="container row patient_profiles">
               <div>
                  <div class="badge patient span8 normal">
                     <a class="clickable" href="">
                        <img alt="school1" width="300" height="248" src="/static/images/IMG_2196.jpg" style="margin-left:-6px;border-radius:10px" />
                        <h3>Description... <span class="link">Read More&nbsp;&raquo;</span></h3>
                     </a>
                  </div>
               </div>
               <div>
                  <div class="badge patient span8 normal">
                     <a class="clickable" href="">
                        <img alt="school1" width="300" height="248" src="/static/images/IMG_2196.jpg" style="margin-left:-6px;border-radius:10px" />
                        <h3>Description...  <span class="link">Read More&nbsp;&raquo;</span></h3>
                     </a>
                  </div>
               </div>
               <div>
                  <div class="badge patient span8 normal">
                     <a class="clickable" href="">
                        <img alt="school1" width="300" height="248" src="/static/images/IMG_2196.jpg" style="margin-left:-6px;border-radius:10px" />
                        <h3>Description... <span class="link">Read More&nbsp;&raquo;</span></h3>
                     </a>
                  </div>
               </div>
            </div>
        </section>-->





                <section id="trustees">
                    <div class="badges with_titles">
                        <div class="row" style="padding-bottom:30px">
                           <a target="_blank" class="badge" href="/description/" style="width:200px">
                                <img alt="" src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="width:200px;height:200px"/>
                                <p class="name" style="top:80px">Name</p>
                                <p class="title" style="top:105px">section</p>
                                <span>
                                <p  class="words" style="top:130px;width:200px;word-wrap:normal;font-size:10px;font-weight:normal;color:black;white-space:initial">descskj efkjjn ewkjjjegd wqdn qwdkjn qwdkjn wqdkjn qwdlk qdwlik  qwdgtf wdk  kewf </p></span>
                           </a>
                           <a target="_blank" class="badge" href="" style="width:200px">
                                <img alt="" src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="width:200px;height:200px"/>
                                <p class="name" style="top:80px">name</p>
                                <p class="title" style="top:105px">section</p>
                           </a>
                           <a target="_blank" class="badge" href="" style="width:200px">
                                <img alt="" src="" style="width:200px;height:200px"/>
                                <p class="name" style="top:80px">Name</p>
                                <p class="title" style="top:105px">section</p>
                           </a>
                     </div>
                     <div class="row" style="padding-bottom:30px">
                        <a target="_blank" class="badge" href="" style="width:200px">
                           <img alt="" src="" style="width:200px;height:200px"/>
                           <p class="name" style="top:80px">Jeremy Kent</p>
                           <p class="title" style="top:105px">section</p>
                           <p  class="" style="top:105px"></p>
                        </a>
                        <a target="_blank" class="badge" href="" style="width:200px">
                           <img alt="" src="" style="width:200px;height:200px"/>
                           <p class="name" style="top:80px">Mustafa Al-Qinneh</p>
                           <p class="title" style="top:105px">section</p>
                        </a>
                        <a target="_blank" class="badge" href="" style="width:200px">
                           <img alt="" src="" style="width:200px;height:200px"/>
                           <p class="name" style="top:80px">Katya Lavine</p>
                           <p class="title" style="top:105px">section</p>
                        </a>
                     </div>
                  </div>
               </section>
               <section id="execution">
                  <div class="badges with_titles">
                     <div class="row">
                        <a target="_blank" class="badge" href="/description/">
                           <img alt="" src="http://s24.postimg.org/8u9rv8m29/image.jpg" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                     </div>
                     <div class="row">
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#emily_ratto">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#gisele_toumi">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#jaclyn_vanstone">
                           <img alt="" src="" />
                           <p class="name">name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-remote-profile-editors#jen_ehrlich">
                           <img alt="" src="" />
                           <p class="name">Jen Ehrlich</p>
                           <p class="title">section</p>
                        </a>
                     </div>
                     <div class="row">
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#kane_bennett">
                           <img alt="" src="" />
                           <p class="name">Kane Bennett</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#karen_brothers">
                           <img alt="" src="" />
                           <p class="name">Karen Brothers</p>
                           <p class="title">section</p>
                        </a>
                     </div>
                </div>
            </section>
            <section id="class_admin">
                <div class="badges with_titles">
                     <div class="row">
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#michelle_matvey">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#peyton_sherwood">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-remote-profile-editors#rachel_alexander">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#ravi_mulani">
                           <img alt="" src="" />
                           <p class="name">Name</p>
                           <p class="title">section</p>
                        </a>
                     </div>
                     <div class="row">
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#shoshana_gould">
                           <img alt="" src="" />
                           <p class="name">Shoshana Gould</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#val_fong">
                           <img alt="" src="" />
                           <p class="name">Val Fong</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-fall-2015-writers#victoria_rainbolt">
                           <img alt="" src="" />
                           <p class="name">Victoria Rainbolt</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-daisy/">
                           <img alt="" src="" />
                           <p class="name">Daisy Ma</p>
                           <p class="title">section</p>
                        </a>
                     </div>
                     <div class="row">
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-spring-writing-team/#chelsea_davis">
                           <img alt="" src="" />
                           <p class="name">Chelsea Davis</p>
                           <p class="title">section</p>
                        </a>
                        <a target="_blank" class="badge" href="http://blog.watsi.org/meet-our-spring-writing-team/#christine_feng">
                           <img alt="" src="" />
                       <p class="name">Christine Feng</p>
                       <p class="title">section</p>
                    </a>
                 </div>
              </div>
           </section>
        </section>
<!--
 <div class="container row">
    <header class="row" style="margin-top:25px">
        <h2 class="span24" style="line-height:20px">Our Team</h2>
    </header>
    <div class="row trustees">
        <div class="row">
            <h3 style="font-size:25px;margin:20px">Board of Trustees</h3>
        </div>
        <div class="row" align="center">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:200px;height:200px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:200px;height:200px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:200px;height:200px">
                    <p class="">Name</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row advisors">
        <div class="row">
            <h3 style="font-size:25px;margin:20px">Advisors</h3>
        </div>
        <div class="row" align="center">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row execution" style="margin-bottom:50px">
        <div class="row">
            <h3 style="font-size:25px;margin:20px">Execution</h3>
        </div>
        <div class="row" align="center">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://s24.postimg.org/8u9rv8m29/image.jpg" style="border-radius:100%;width:150px;height:150px">
                    <p class="">Name</p>
                </a>
            </div>
        </div>
    </div>
 </div>
</section>
-->
<link href='/static/css/tabs_fonts.css' rel='stylesheet' type='text/css'>
<link href='/static/css/tabs.css' rel='stylesheet' type='text/css'>
<div class="row">
<nav class="nav nav--active"style="margin-bottom:-120px">
<ul class="nav__list">
<li class="nav__item">
  <a href="" class="nav__link">
    <div class="nav__thumb color1" data-letter="v"></div>
    <p class="nav__label">Vision</p>
  </a>
</li>
<li class="nav__item">
  <a href="" class="nav__link">
    <div class="nav__thumb color2" data-letter="m"></div>
    <p class="nav__label">Mission</p>
  </a>
</li>
<li class="nav__item">
  <a href="" class="nav__link">
    <div class="nav__thumb color3" data-letter="v"></div>
    <p class="nav__label">Values</p>
  </a>
</li>
</ul>
</nav>
<div class="page_tab">
<section class="section section--active color1" data-letter="v">
<article class="section__wrapper">
  <h1 class="section__title">Vision</h1>
  <p>To create a Knowledgeable & Empowered rural India through quality education.</p>
</article>
</section>
<section class="section color2" data-letter="m">
<article class="section__wrapper">
  <h1 class="section__title">Mission</h1>
  <p>Connecting passionate volunteers to provide Quality education for Rural Children In partnership with Government and local communities. Leveraging technology to empower learning ecosystem.</p>
</article>
</section>
<section class="section color3" data-letter="v">
<article class="section__wrapper">
  <h1 class="section__title">Values</h1>
  <p>Selflessness : Nothing is 'MINE'</p>
  <p>Integrity : Non-negotiable</p>
  <p>Passion : Giving time to educate</p>
  <p>Execution : Committed to make things happen</p>
</article>
</section>
</div>
</div>




<section class="patients about_bg" style="padding-bottom:50px">
 <div class="container row"style="margin-top:95px">
    <header class="row" style="margin-top:50px">
        <h2 class="span24">Our Funders</h2>
    </header>
    <div class="row funders" align="center" style="margin-bottom:60px;margin-top:20px">
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
 </div>
    <div class="row funders" align="center">
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
                <a target="_blank" href="">
                    <img src="http://thepixelweb.com/wp-content/uploads/2012/08/Microsoft-new-logo.png" style="width:150px;height:50px">
                </a>
        </div>
 </div>
</section>
<div class="row">
<div id="tab" class="tabs-bottom tabs-min"style="margin-left:-4px;height:400px;">
<ul style="margin-bottom:-5px">
    <li><a class="tab_img"  href="#tabs-a" style="outline-color:transparent;">
        <img src="http://s11.postimg.org/ce3m1jb2b/image.png">
    </a></li>
    <li><a class="tab_img" href="#tabs-b" style="outline-color:transparent;">
        <img src="http://s11.postimg.org/ce3m1jb2b/image.png">
    </a></li>
    <li><a class="tab_img" href="#tabs-c" style="outline-color:transparent;">
        <img src="http://s11.postimg.org/ce3m1jb2b/image.png">
    </a></li>
    <li><a class="tab_img" href="#tabs-d" style="outline-color:transparent;">
        <img src="http://s11.postimg.org/ce3m1jb2b/image.png">
    </a></li>
    <li><a class="tab_img" href="#tabs-e" style="outline-color:transparent;">
        <img src="http://s11.postimg.org/ce3m1jb2b/image.png">
    </a></li>
</ul>
<div id="tabs-a" style="height:200px">
    <blockquote class="standard span18 offset3">
        <p>News-1</p>
    </blockquote>
</div>
<div id="tabs-b" style="height:200px">
    <blockquote class="standard span18 offset3">
        <p>News-2</p>
    </blockquote>
</div>
<div id="tabs-c"style="height:200px">
    <blockquote class="standard span18 offset3">
        <p>News-3</p>
    </blockquote>
</div>
<div id="tabs-d"style="height:200px">
    <blockquote class="standard span18 offset3">
        <p>News-4</p>
    </blockquote>
</div>
<div id="tabs-e"style="height:200px">
    <blockquote class="standard span18 offset3">
        <p>News-5</p>
    </blockquote>
</div>
</div>
</div>
<script src="/static/js/tabs.js" type="text/javascript"></script>
<section class="patients about_bg">
    <div class="row" align="center" style="padding:50px 0px 50px 100px">
        <div class="col-md-offset-1 col-md-3 col-sm-3 col-xs-3">
            <p><a class="button btn-explore"style="background-color:#D83157;color:white" href="explore/">Explore</a></p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <p><a class="button btn-volunteer"style="background-color:rgb(34, 17, 7);color:white" href="volunteer/">Volunteer</a></p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <p><a class="button btn-donate" style="background-color:green;color:white" href="donate/">Donate</a></p>
        </div>
{% endblock %}
