                    <div class="col-md-6">
                        <h4 class="">Role Specific Analysis</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered role_specific_count" style="text-align:center">
                                <thead class="bg-info">
                                  <tr>
                                    <th>Role ID</th>
                                    <th>Role</th>
                                    <th>Users Registred</th>
                                    <th>Users Completed all the Steps</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(!_.isEmpty(resp.rolewise_count)){ %>
                                    <% _.each(resp.rolewise_count, function(item, key){ %>
                                  <tr>
                                    <td><%= key %></td>
                                    <td><%= item.name %> </td>
                                    <td><%= item.reg_count %></td>
                                    <td><%= item.completed_count %></td>
                                  </tr>
                                    <% }) %>
                                  <% } else { %>
                                    <tr>
                                        <td colspan="4">No data available</td>
                                    </tr>
                                  <% } %>
                                </tbody>
                            </table>
                        </div><!-- table div -->
                    </div><!-- col -->

                    <div class="col-md-6">
                        <div id="role_specific_count_chart" class="<% if(_.isEmpty(resp.rolewise_count)){ %>hide<% } %>" style="margin-top:20px"></div>
                    </div>


