<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Rubaru '16</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="eVidyaloka is a non-profit organization that focuses on transforming the educational landscape of rural India. eVidyaloka creates digital classrooms for children in remote villages, with support of local communities and Volunteer Teachers across globe with standardized lesson plans and teaching aids">
        <meta name="keywords" content="evidyaloka, rubaru, nsic, children, rural school, learn, rural education, children education, teachers, volunteers, volunteers to teach, volunteer teachers, education, student education, online teaching, digital classrooms, virtual teaching, ngo, free education, remote village education, internet education, teaching channel, sponsor for education, sponsor for school, donate for school, donate for education"/>


        <!--== CSS Files ==-->
        <link href="/static/css_rubaru/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/style.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/font-awesome.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/owl.carousel.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/flexslider.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/fancySelect.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/responsive.css" rel="stylesheet" media="screen">
        <link href="/static/css_rubaru/parsley.css" rel="stylesheet" media="screen">

        <!--== Google Fonts ==-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


     

    </head>
    <body>
        <header id="header">
          {% block header %}
            <div id="menu" class="header-menu fixed">
                <div class="box">
                    <div class="row">
                        <nav role="navigation" class="col-sm-12">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <!--== Logo ==-->
                                <a href="" onclick="window.location.pathname='/'"><img src="/static/images_rubaru/evd_logo.png" style="float:left"></a>
                                <span class="navbar-brand logo">
                                    Rubaru '16
                                </span>

                            </div>
                            <div class="navbar-collapse collapse">

                                <!--== Navigation Menu ==-->
                                <ul class="nav navbar-nav">
                                    <li class="current"><a href="#header">Home</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#agenda">Agenda</a></li>
                                    <li><a href="#speakers">Speakers</a></li>
                                    <li><a href="#schools">Schools</a></li>
                                    <li><a href="#art_gallery">Art Exhibition</a></li>
                                    <li><a href="#sponsors">Sponsors</a></li>
                                    <li><a href="#venue">Venue</a></li>
                                    <li><a href="#registration">Register</a></li>
                                    <li><a href="#buzz">Buzz</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
          {% endblock header %}
            <!--== Site Description ==-->
          {% block main_bg %}
            <div class="header-cta header-cta1">
                <div class="container">
                    <div class="row">
                        <div class="entry-content">
                            <h4 class="entry-title" style="background:#FFE761;"><a href="#">RUBARU ‘16</a></h4>
                            <h3 class="start-text">promoting<br>eQuality in Education</h3>
                            <div class="hidden-xs hidden-sm">
                                <h3>&nbsp;</h3><h3>&nbsp;</h3><h3>&nbsp;</h3><h3>&nbsp;</h3><h3>&nbsp;</h3>
                            </div>
                            <!--<h5 style="margin-left:80px"><span><b>Hosted by eVidyaloka</b></span></h5>
                            <p style="margin-left:80px"><span class="start-text"><b>On 3rd December, 2016 (4pm to 7pm)</b></span></p>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-cta header-cta2">
                <div class="container">
                    <div class="row">
                        <div class="entry-content">
                            <h5 style=""><span><b>Hosted by eVidyaloka</b></span></h5>
                            <p style="border:none"><span class="start-text"><b>On 3rd December, 2016 (4pm to 7pm)</b></span></p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="header-bg">
                <div id="preloader">
                    <div class="preloader"></div>
                </div>
                <div class="main-slider" id="main-slider">

                    <!--== Main Slider ==-->
                    <ul class="slides">
                        <li><img src="/static/images_rubaru/banner_bg.png" alt="Slide Image" style="filter: brightness(90%);"/></li>
                        <li><img src="/static/images_rubaru/banner_bg_2.png" alt="Slide Image 2" style="filter: brightness(90%);"/></li>
                    </ul>

                </div>
            </div>
          {% endblock main_bg %}
        </header>

        <div class="content">
            <div class="container box">


                <!--===============================-->
                <!--== About us ===================-->
                <!--===============================-->
        <section id="about" class="about-us" style="padding-bottom:0">
            <div class="title-start col-md-4 col-md-offset-4">
            <br />
                <h2>About</h2>
            </div>
            <div class="container">
                <div class="about-part">
                    <div class="col-md-offset-2 col-md-9">
            
                        <h3>Event Brief</h3>
                
                        <p style="text-align:justify">
                            Redefining Equality and e-Quality in education is the central theme of RUBARU: a rural-urban children connect event that 
                            is being organized by eVidyaloka. With 250+ participative audience, the occasion is being celebrated with a joint cultural 
                            performance by five schools from cities and villages across India. As a run-up to this event, a series of online student 
                            exchanges are being conducted in the participating schools, cherishing the spirit of Joy of Giving (Daan Utsav -2016).
                        </p>
                        <p style="text-align:justify">
                            On this occasion, a powerful panel of eminent academicians and thought leaders from leading institutions are being invited 
                            to share their views, perspectives and outlook on the ‘Digital highway to bridge the Rural-Urban education divide’. With a 
                            high degree of participation from an audience, that includes, Decision makers, Teachers, Educators, Parents, Volunteers, 
                            Patrons the event is envisaged to be a catalyst for the cause of nation building through education.
                        </p>
                    </div>
                    <!--<div class="col-md-offset-1 col-md-2">
                            <img src="/static/images/evidyalogo.jpg" style='border-radius: 30%;margin-top:25%'/>
                    </div>-->
                </div>
            </div>
        </section>
                <!--==========-->



                <!--===============================-->
                <!--== Schedule ===================-->
                <!--===============================-->
                <section id="agenda" class="row" style="padding-top:0">
                <div class="title-start schedule-menu col-md-4 col-md-offset-4" style="margin-bottom: 0;">
                <br />
                    <h2>Agenda</h2>
                </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge">
                              <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Networking over Hi-Tea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6"></p>
                                    <p class="timeline-other col-md-6">
                                        
                                        <em class="timeline-item">
                                        Time : 4 PM
                                        </em>
                                        <em class="timeline-item">
                                        Duration : 30 Mins
                                        </em>
                                    </p>

                                </div>
                                
                            </div>
                        </li>
                        
                        <li  class="timeline-inverted">
                            <div class="timeline-badge">
                              <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lamp Lighting Ceremony and Welcome Note</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6"></p>
                                    <p class="timeline-other col-md-6">

                                        <em class="timeline-item">
                                        Time : 4.30 PM
                                        </em>
                                        <em class="timeline-item">
                                        Duration : 15 Mins
                                        </em>
                                    </p>

                                </div>
                                
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-badge">
                              <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Felicitation of Participating schools</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6"></p>
                                    <p class="timeline-other col-md-6">
                                        <em class="timeline-item">
                                        Time : 4.45 PM
                                        </em>
                                        <em class="timeline-item">
                                        Duration : 15 Mins
                                        </em>
                                    </p>

                                </div>
                       
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                              <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Panel Discussion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6">Digital highway to bridge the Rural-Urban education divide</p>
                                    <p class="timeline-other col-md-6">
                                        <em class="timeline-item">
                                        Time : 5 PM
                                        </em>
                                        <em class="timeline-item">
                                        Duration : 30 Mins
                                        </em>
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge">
                              <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Performance by children of 5 Schools</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6"></p>
                                    <p class="timeline-other col-md-6">
                                        <em class="timeline-item">
                                        Time : 5.30 PM
                                        </em>
                                        <em class="timeline-item">
                                        Duration : 15 Mins Each
                                        </em>
                                    </p>

                                </div>

                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                              <a><i class="fa fa-circle" id=""></i></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vote of Thanks and National Anthem</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="timeline-desc col-md-6"></p>
                                    <p class="timeline-other col-md-6">
                                        <em class="timeline-item">
                                        Time : 7 PM
                                        </em>
                                        <em class="timeline-item">
                                        Duration : 10 Mins
                                        </em>
                                    </p>

                                </div>

                            </div>
                        </li>


                        <li class="clearfix no-float"></li>
                    </ul>
                    
                </section>

                <!--===============================-->
                <!--== Speakers =============-->
                <!--===============================-->
                
                <section id="speakers" class="team"> 
                    <div class="container">
                <div class="title-start team-menu col-md-4 col-md-offset-4">
                    <h2 class="team-heading">Speakers</h2>
                    <p class="sub-text text-center">Event Presided by <br><strong>Professor V. Krishnamurthy</strong></p>

                    <div class="team-member row">
                        <div class="member" style="text-align:center;width:200px;margin-left: 20%;">
                            <img class="blog-image" src="/static/images_rubaru/Vkrishnmurthy.jpg" width="80%" height="160" alt="Blog Image 2"/>
                            <p class="name-member">Professor V. Krishnamurthy</p>
                            <ul class="team-ist">
                             <li>Former Dy. Director, BITS, Pilani</li>
                             <li>Patron of eVidyaloka</li>
                             </ul>
                            <!--<div class="team-social" style="height:43px">
                            </div>-->
                        </div>
                    </div>


                </div>

                </div>

                    <div class="team-member row">
                        <div class="col-md-offset-1 col-md-2 col-sm-6 member">
                            <img class="blog-image" src="/static/images_rubaru/DSERT.png" width="100%" height="160" alt="Blog Image 2"/>
                            <p class="name-member">Shri. Bella Setty</p>
                            <ul class="team-ist">
                             <li>Director, DSERT, Govt. Of Karnataka</li> 
                             <li></li>
                             </ul>
                            <!--<div class="team-social" style="height:43px">
                            </div>-->
                        </div>
                        <div class="col-md-2 col-sm-6 member">
                            <img class="blog-image" src="/static/images_rubaru/Nayana_tara.jpg" width="100%" height="160" alt="Blog Image 2"/>
                            <p class="name-member">Prof. S. Nayana Tara</p>
                            <ul class="team-ist">
                             <li>Center for Public Policy, IIM, Bangalore</li> 
                             <li></li>
                             </ul>
                            <!--<div class="team-social" style="height:43px">
                            </div>-->
                        </div>
                        <div class="col-md-2 col-sm-6 member">
                            <img class="blog-image" src="/static/images_rubaru/amman.jpg" width="100%" height="160" alt="Blog Image 2"/>
                            <p class="name-member">Prof. Amman Madan</p>
                            <ul class="team-ist">
                             <li>Professor, Azim Premji Foundation</li> 
                             <li></li>
                             </ul>
                            <!--<div class="team-social" style="height:43px">
                            </div>-->
                        </div>
                        <div class="col-md-2 col-sm-6 member">
                            <div style="padding: 35px 0;">
                                <img class="blog-image" src="/static/images_rubaru/logo_black.png" width="100%" height="90" alt="Blog Image 2" style="border-radius:0%"/>
                            </div>
                            <p class="name-member">&nbsp;</p>
                            <ul class="team-ist">
                             <li>CSR Head, L&T InfoTech</li> 
                             <li>&nbsp;</li>
                             </ul>
                            <!--<div class="team-social" style="height:43px">
                            </div>-->
                        </div>
                        <div class="col-md-2 col-sm-6 member">
                            <img class="blog-image" src="/static/images_rubaru/John.jpg" width="100%" height="160" alt="Blog Image 2"/>
                            <p class="name-member">John Santhosh</p>
                            <ul class="team-ist">
                             <li style="line-height: 17px;">Founder, Billionlives Business Initiatives Pvt. Ltd.</li>
                             <li></li>
                             </ul>
                            <!--<div class="team-social" style="height:43px">
                            </div>-->
                        </div>

                    </div>


                </section>
                </div></div>
                <!--==========-->

    
                <!--==========-->
                <!--===============================-->
                <!--== schools =============-->
                <!--===============================-->
                
                <section id="schools" class="team" style="background:gainsboro;padding-bottom:100px;">
                    <div class="container">
                <div class="title-start team-menu col-md-4 col-md-offset-4">
                    <h2 class="team-heading" style="margin-top:60px">Participating Schools</h2>
                </div>
                </div>
                    <div class="container">
                        <div class="team-member row">
                            <a href="" target="_blank">
                                <div class="col-md-offset-1 col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/school_1.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">SRI KUMARAN CHILDREN'S HOME</p>
                                </div>
                            </a>
                            <a href="http://vidyaniketan.edu.in/" target="_blank">
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/school_2.png" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">VIDYANIKETAN PUBLIC SCHOOL</p>
                                </div>
                            </a>
                            <a href="http://www.evidyaloka.org/" target="_blank">
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images/evidyalogo.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member" style="padding:23px 0">EVIDYALOKA</p>
                                </div>
                            </a>
                            <a href="http://podareducation.org/school/Bengaluru" target="_blank">
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/school_4.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">PODAR INTERNATIONAL SCHOOL</p>
                                </div>
                            </a>
                            <a href="http://www.indusschool.com/" target="_blank">
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/school_5.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">INDUS INTERNATIONAL SCHOOL</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                </div></div>
                <!--==========-->


                <!--===============================-->
                <!--== Blog =============-->
                <!--===============================-->



                <section id="art_gallery" class="" style="padding-bottom:100px;">
                    <div class="container">
                <div class="title-start team-menu col-md-4 col-md-offset-4">
                    <h2 class="team-heading" style="margin-top:60px">Art Display</h2>
                </div>
                </div>
                    <div class="container">
                        <div class="team-member row">
                                <div class="col-md-offset-1 col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/Anitha.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">Anitha Viswanathan</p>
                                </div>
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/Shilpa.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">Shilpa Balaji</p>
                                </div>
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/Bhavani.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member" style="">Bhavani Arvind</p>
                                </div>
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/Meera.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">Meera Raghunath</p>
                                </div>
                                <div class="col-md-2 col-sm-6 member">
                                    <img class="blog-image" src="/static/images_rubaru/Vsanthi.jpg" width="100%" height="180" alt="Blog Image 2"/>
                                    <p class="name-member">Vasanti Anandh</p>
                                </div>
                        </div>
                    </div>

                </section>





            <!--<section id="art_gallery" class="row" style="height:370px;/*background:url('/static/images_rubaru/art_bg_1.jpg')center no-repeat;background-size:cover;*/margin:0">
                <div class="title-start col-md-4 col-md-offset-4" style="margin-top:30px;margin-bottom:0"><h2>Artists Conrtibuting</h2> 
                </div>
                    <div class="top">
                    </div>
                    <div class="content" style="margin-top: 145px;">
                      <div class="blog col-md-4">
                        <h2 class="blog-head">Anitha Viswanathan</h2>
                      </div>
                      <div class="blog col-md-4">
                        <h2 class="blog-head">Shilpa Balaji</h2>
                      </div>
                      <div class="blog col-md-4">
                        <h2 class="blog-head">Bhavani Arvind</h2>
                      </div>
                    </div>

                    <div class="content" style="margin-top: 250px;">
                      <div class="blog col-md-offset-2 col-md-4">
                        <h2 class="blog-head">Meera Raghunath</h2>
                      </div>
                      <div class="blog col-md-4">
                        <h2 class="blog-head">Vasanti Anandh</h2>
                      </div>
                    </div>

                </section>-->
                <!--==========-->


                <!--==========-->
                <!--===============================-->
                <!--== sponsors =============-->
                <!--===============================-->

                <section id="sponsors" class="team" style="padding-bottom:100px;background:#a2a1a1">
                    <div class="container">
                <div class="title-start team-menu col-md-4 col-md-offset-4">
                    <h2 class="team-heading" style="margin-top:60px">Sponsors</h2>
                </div>
                </div>
                    <div class="container">
                        <div class="team-member row">
                            <div class="col-md-3 col-sm-6 member">
                                <img class="blog-image" src="/static/images_rubaru/sponsor_2.png" width="100%" height="150" alt="Blog Image 2"/>
                                <p class="name-member">Venue Partner</p>
                            </div>
                            <div class="col-md-3 col-sm-6 member">
                                <img class="blog-image" src="/static/images_rubaru/sponsor_3.png" width="100%" height="150" alt="Blog Image 2"/>
                                <p class="name-member">Social Media Partner</p>
                            </div>

                            <div class="col-md-3 col-sm-6 member">
                                <div style="padding: 40px 0;">
                                    <img class="blog-image" src="/static/images_rubaru/sponsor_4.png" width="100%" height="70" alt="Blog Image 2"/>
                                </div>
                                <p class="name-member">Digital Media Sponsor</p>
                            </div>

                            <div class="col-md-3 col-sm-6 member">
                                <img class="blog-image" src="/static/images_rubaru/sponsor_1.png" width="100%" height="150" alt="Blog Image 2"/>
                                <p class="name-member">Event Sponsor</p>
                            </div>
                        </div>

                        <div class="team-member row">
                            <div class="col-md-offset-3 col-md-3 col-sm-6 member">
                                <img class="blog-image" src="/static/images_rubaru/sponser_6.jpg" width="100%" height="150" alt="Blog Image 2"/>
                                <p class="name-member">Bronze Sponsor</p>
                            </div>
                            <div class="col-md-3 col-sm-6 member">
                                <img class="blog-image" src="/static/images_rubaru/sponsor_5.jpg" width="100%" height="150" alt="Blog Image 2"/>
                                <p class="name-member">Silver Sponsor</p>
                            </div>
                        </div>



                    </div>

                </section>
                </div></div>
                <!--==========-->




            <!--== Venue ==-->
            <section id="venue">
                <div class="header-cta" style="position:relative">
                    <div class="container">
                        <div class="row">
                            <div class="entry-content" style="width: 800px;">
                                <p><span class="start-text" style="background:rgba(205, 197, 247, 0.71);"><b>VENUE</b></span></p>
                                <h4 class="entry-title" style="background:rgba(205, 197, 247, 0.71);font-size:35px;"><a target="_blank" href="https://www.google.co.in/maps/place/Vasavi+Educational+Trust+School+J.P.Nagar/@12.9077144,77.522123,12z/data=!4m5!3m4!1s0x3bae150d59b01dbf:0x5ea0b65f1c15c832!8m2!3d12.9077144!4d77.5921608!6m1!1e1">
                                Vasavi Educational Trust (VET) <br>PU College Auditorium, 14th Main, <br>J.P. Nagar, II Phase,Bangalore -78. Phone 080 - 26586808
                                </a></h4>
                                <h5><span><b>Note: Event will start with Networking over Hi-Tea. Art exhibition by Well Wishers</b></span></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-bg">
                    <div id="preloader" style="background:none">
                        <div class="preloader"></div>
                    </div>
                    <div class="main-slider" id="main-slider">

                        <!--== Main Slider ==-->
                        <ul class="slides">
                            <li><img src="/static/images_rubaru/venue.jpg" alt="Slide Image"/></li>
                        </ul>

                    </div>
                </div>


<!--<div class="row">
<div style="width:80%;overflow:hidden;height:500px;max-width:100%;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=614,+13th+Cross+Rd+Jeewan+Griha+Colony,+2nd+Phase,+JP+Nagar+Bengaluru,+Karnataka+560078+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><style>#gmap_display img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=532c32ef-7c0b-2c03-b583-4b3c4b8651e0&c=embedded-map-code&u=1478525637" defer="defer" async="async"></script>
</div>-->


            </section>

            <!-- Registration -->
            <section id="registration" class="mapWrap" style="background:url('/static/images_rubaru/register_bg.jpg');margin-bottom: 10px;">
                <div class="container">

                    <div id="wrapper">
                        <div id="register" class="animate form">

<div class="bs-callout bs-callout-warning hidden">
  <h4>Oh snap!</h4>
  <p>This form seems to be invalid :(</p>
</div>

<div class="bs-callout bs-callout-info hidden">
  <h4>Yay!</h4>
  <p>Everything seems to be ok :)</p>
</div>


                            <form  id="registration_form" action="javascript:registrationAjax();" data-parsley-validate=""> 
                                <h1> REGISTER </h1>
                                <!--<p>Nominal Entry Fees of Rs. 100 planned (to be decided).</p>--> 
                                <p> 
                                    <label for="name" class="name" data-icon="u">Name*</label>
                                    <input id="name" name="name" required="required" type="text" placeholder="Name" class="form-control" />
                                </p>
                                <p> 
                                    <label for="email" class="youmail" data-icon="e" > Email ID*</label>
                                    <input id="email" name="email" required="required" type="email" placeholder="Email ID" class="form-control"/> 
                                </p>
                                <p>
                                    <label for="mobile" class="mobile_no" data-icon="e" > Mobile Number*</label>
                                    <input id="mobile" name="mobile" required="required" type="text" placeholder="Mobile no." class="form-control"/>
                                </p>
                                <p>
                                    <label for="persons" class="persons"> I am bringing along ____ persons*</label>
                                    <input id="persons" name="persons" required="required" type="number" placeholder="0" class="form-control"/>
                                </p>

                                <p>
                                    <label for="organisation" class="organisation" data-icon="e" >Organisation</label>
                                    <input id="organisation" name="organisation" type="text" placeholder="Organisation" class="form-control"/>
                                </p>
                                <p>
                                    <label for="referred" class="referred" data-icon="e" >Referred by</label>
                                    <input id="referred" name="referred" type="text" placeholder="Referred by" class="form-control"/>
                                </p>


                                <p class="signin button"> 
                                    <a href="#" data-toggle="tooltip" title="Registration closed"><input type="submit" value="REGISTER" disabled/></a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

            </section>

            <!--== buzzwall ==-->
            <section id="buzz">


                <iframe src="http://wall.buzzinga.com/wall/?eventId=4089fe8274192f6731c470ed080752cb"
                        width="100%" height="600px" frameborder="0"
                        allowfullscreen sandbox="allow-same-origin allow-scripts">
                  <p> <a href="http://wall.buzzinga.com/wall/?eventId=4089fe8274192f6731c470ed080752cb">
                    buzzwall
                  </a> </p>
                </iframe>


            </section>




        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© <a href="http://wwww.technextit.com" target="_blank">eVidyaloka</a></p>
                    </div>
                </div>
            </div>
        </footer>


        <!--== Javascript Files ==-->
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="/static/js_rubaru/jquery-2.1.0.min.js"></script>
        <script src="/static/js_rubaru/bootstrap.min.js"></script>
        <script src="/static/js_rubaru/jquery.scrollTo.js"></script>
        <script src="/static/js_rubaru/jquery.nav.js"></script>
        <script src="/static/js_rubaru/jquery.flexslider.js"></script>
        <script src="/static/js_rubaru/jquery.accordion.js"></script>
        <script src="/static/js_rubaru/jquery.placeholder.js"></script>
        <script src="/static/js_rubaru/jquery.fitvids.js"></script>
        <script src="/static/js_rubaru/gmap3.js"></script>
        <script src="/static/js_rubaru/fancySelect.js"></script>
        <script src="/static/js_rubaru/owl.carousel.min.js"></script>
        <script src="/static/js_rubaru/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.6.0/parsley.js"></script>
        <script type="text/javascript"> 

        $(document).ready(function() {

          $('[data-toggle="tooltip"]').tooltip();  
          $("#testimonial-container").owlCarousel({
         
              navigation : false, // Show next and prev buttons
              slideSpeed : 700,
              paginationSpeed : 400,
              singleItem:true,
          });
 
        });
        </script>

<script type="text/javascript">
$(function () {
  $('#registration_form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
  .on('form:submit', function() {
    return true; // Don't submit form for this demo
  });
});
</script>

    <script>
        function registrationAjax(){

            var data = {};
            data['event'] = 'rubaru_2016';
            data['name'] = $("#name").val();
            data['email'] = $("#email").val();
            data['mobile'] = $("#mobile").val();
            data['organisation'] = $("#organisation").val();
            data['referred_by'] = $("#referred").val();
            data['persons'] = $("#persons").val();
            $.get("/rubaru_register/", {'data':JSON.stringify(data)}, function(resp){
                alert("Registered Successfully");
                frm = $('#registration_form')[0];
                frm.reset();
                $('#registration_form').parsley().reset();
                $('.bs-callout-info').addClass("hidden");
            });
        }
    </script>


    </body>
</html>
