<p>Dear {{name}},</p>

<p> Thank you for registering your organization with eVidyaloka</p>
<p>Your School Admin details are as below:</p>

<p>Organization Name : {{name_of_organization}}</p>
<p>Name: {{name}}</p>
<p>User name : {{username}}</p>
<p>Password : {{password}}</p>

<p>Please login to at www.evidyaloka.org to explore !</p>

<p>For any technical support, please mail talktosomeone@evidyaloka.org or call +91 80 40903939</p>

<p> You can change your password anytime by clicking the following link.</p>
<p>http://www.evidyaloka.org/accounts/password/reset/</p> 

<p>Regards,</p>
<p>eVidyaloka Team</p>