<div class="row">
    <div class="col-md-12">
        <h4 class="">Step wise Analysis</h4>
    </div>

    <div class="col-md-6">
        <h5 class="">Teacher</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="margin:0 auto;text-align:center">
                <thead>
                  <tr class="bg-info">
                    <th>Step ID</th>
                    <th>Step</th>
                    <th>Weightage</th>
                    <th>Users Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(!_.isEmpty(resp.teacher_stepwise)){ %>
                    <% _.each(resp.teacher_stepwise, function(item, key){ %>
                      <tr>
                        <td><%= key %></td>
                        <td><%= item.stepname %></td>
                        <td><%= item.weightage %></td>
                        <td><%= item.count %></td>
                      </tr>
                    <% }) %>
                  <% } else { %>
                    <tr>
                        <td colspan="4">No data available</td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div><!-- table div -->
    </div><!-- col -->
    <div class="col-md-6">
        <h5 class="">Center Admin</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="margin:0 auto;text-align:center">
                <thead>
                  <tr class="bg-info">
                    <th>Step ID</th>
                    <th>Step</th>
                    <th>Weightage</th>
                    <th>Users Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(!_.isEmpty(resp.centeradmin_stepwise)){ %>
                    <% _.each(resp.centeradmin_stepwise, function(item, key){ %>
                      <tr>
                        <td><%= key %></td>
                        <td><%= item.stepname %></td>
                        <td><%= item.weightage %></td>
                        <td><%= item.count %></td>
                      </tr>
                    <% }) %>
                  <% } else { %>
                    <tr>
                        <td colspan="4">No data available</td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div><!-- table div -->
    </div><!-- col -->
</div><!-- row -->
<hr>
<div class="row">
   <br>
    <div class="col-md-6">
        <h5 class="">Content Developer</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="margin:0 auto;text-align:center">
                <thead>
                  <tr class="bg-info">
                    <th>Step ID</th>
                    <th>Step</th>
                    <th>Weightage</th>
                    <th>Users Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(!_.isEmpty(resp.contentdeveloper_stepwise)){ %>
                    <% _.each(resp.contentdeveloper_stepwise, function(item, key){ %>
                      <tr>
                        <td><%= key %></td>
                        <td><%= item.stepname %></td>
                        <td><%= item.weightage %></td>
                        <td><%= item.count %></td>
                      </tr>
                    <% }) %>
                  <% } else { %>
                    <tr>
                        <td colspan="4">No data available</td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div><!-- table div -->
    </div><!-- col -->
    <div class="col-md-6">
        <h5 class="">Well Wisher</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="margin:0 auto;text-align:center">
                <thead>
                  <tr class="bg-info">
                    <th>Step ID</th>
                    <th>Step</th>
                    <th>Weightage</th>
                    <th>Users Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(!_.isEmpty(resp.wellwisher_stepwise)){ %>
                    <% _.each(resp.wellwisher_stepwise, function(item, key){ %>
                      <tr>
                        <td><%= key %></td>
                        <td><%= item.stepname %></td>
                        <td><%= item.weightage %></td>
                        <td><%= item.count %></td>
                      </tr>
                    <% }) %>
                  <% } else { %>
                    <tr>
                        <td colspan="4">No data available</td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div><!-- table div -->
    </div><!-- col -->
                </div><!-- row -->
                <br><hr>
                <div class="row">
                    <br>
                    <div class="col-md-6">
                        <h5 class="">Content Admin</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="margin:0 auto;text-align:center">
                                <thead>
                                  <tr class="bg-info">
                                    <th>Step ID</th>
                                    <th>Step</th>
                                    <th>Weightage</th>
                                    <th>Users Completed</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(!_.isEmpty(resp.contentadmin_stepwise)){ %>
                                    <% _.each(resp.contentadmin_stepwise, function(item, key){ %>
                                      <tr>
                                        <td><%= key %></td>
                                        <td><%= item.stepname %></td>
                                        <td><%= item.weightage %></td>
                                        <td><%= item.count %></td>
                                      </tr>
                                    <% }) %>
                                  <% } else { %>
                                    <tr>
                                        <td colspan="4">No data available</td>
                                    </tr>
                                  <% } %>
                                </tbody>
                            </table>
                        </div><!-- table div -->
                    </div><!-- col -->
                    <div class="col-md-6">
                        <h5 class="">Class Assistant</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="margin:0 auto;text-align:center">
                                <thead>
                                  <tr class="bg-info">
                                    <th>Step ID</th>
                                    <th>Step</th>
                                    <th>Weightage</th>
                                    <th>Users Completed</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% if(!_.isEmpty(resp.classassistant_stepwise)){ %>
                                    <% _.each(resp.classassistant_stepwise, function(item, key){ %>
                                      <tr>
                                        <td><%= key %></td>
                                        <td><%= item.stepname %></td>
                                        <td><%= item.weightage %></td>
                                        <td><%= item.count %></td>
                                      </tr>
                                    <% }) %>
                                  <% } else { %>
                                    <tr>
                                        <td colspan="4">No data available</td>
                                    </tr>
                                  <% } %>
                                </tbody>
                            </table>
                        </div><!-- table div -->
                    </div><!-- col -->

                </div><!-- row -->


        </div><!--col-->
