<!DOCTYPE html>{% load staticfiles%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Broadcast Timetable | eVidyaloka </title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/evidyalogo.png" />

    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
    <script src="{% static 'css/fontawesome/js/all.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>


</head>


<body class="bg-gray-100">
    <div class=" md:p-2 w-full">

        <div class="flex flex-row items-center m-2 relative text-gray-900 bg-white rounded-lg shadow-lg font-medium capitalize">
            <span class="px-2 mr-2 border-r border-gray-200"> <a href="/">
                <img src="{% static 'images/digischool/evidyaloka_icon2.png' %}" alt="alt placeholder" class="w-40 h-30 -mt-1 inline mx-auto"> </a>
            </span>
            <span class="uppercase px-2 mx-2 text-2xl cursor-pointer flex flex-row items-center bg-red-100 p-2 rounded-lg text-gray-600 hover:bg-red-300" onclick="operation('edit')">
                <i class="far fa-edit"></i><div class="text-sm mx-1">Manage Tables</div>
            </span>
            <span class="uppercase px-2 mx-2 text-2xl cursor-pointer flex flex-row items-center bg-red-100 p-2 rounded-lg text-gray-600 hover:bg-red-300" onclick="operation('upload')">
                <i class="far fa-file-excel"></i><div class="text-sm mx-1">BUlk Upload</div>
            </span>
            <div class="flex flex-row items-center justify-center absolute mx-4 right-0">
                <span class="md:p-2 md:mx-2 mx-4">
                    {{ request.user.first_name|title }}
                </span>
                <img src="{{ user.userprofile.picture }}" class="box-border h-12 w-12 border-1 rounded-3xl" alt="">
            </div>


        </div>
    </div>
    <div>
        {% if messages %}
        <br> {% for messages in messages %}
        <div id="message_alert" class="hidden w-full py-2 rounded-lg bg-green-400 text-center sticky">{{messages}}</div>
        {% endfor %} {% endif %}
    </div>
    <div>

        <div class="shadow-xl rounded-lg overflow-hidden mx-8 flex flex-col jistify-center  p-4 font-sans" id="add_table">
            <span class="text-center text-gray-600 font-bold text-xl uppercase my-2">Add new schedule</span>
            <form method="post" id="add_form">
                {% csrf_token %}
                <div class="flex justify-center ">
                    <input required class="rounded mx-2 h-10 w-60 p-2" value="" type="datetime-local" name="date" id="nt0">
                    <select required class="rounded text-center mx-2 h-10 w-32" name="state" id="nt1">
                        <option disabled selected value="">STATE</option>
                        <option value="AN">AN</option>
                        <option value="AP">AP</option>
                        <option value="AR">AR</option>
                        <option value="AS">AS</option>
                        <option value="CH">CH</option>
                        <option value="CT">CT</option>
                        <option value="DN">DN</option>
                        <option value="DD">DD</option>
                        <option value="DL">DL</option>
                        <option value="GA">GA</option>
                        <option value="GJ">GJ</option>
                        <option value="HR">HR</option>
                        <option value="HP">HP</option>
                        <option value="JH">JH</option>
                        <option value="KA">KA</option>
                        <option value="KL">KL</option>
                        <option value="LD">LD</option>
                        <option value="MP">MP</option>
                        <option value="MH">MH</option>
                        <option value="MNL">MNL</option>
                        <option value="ML">ML</option>
                        <option value="MZ">MZ</option>
                        <option value="NL">NL</option>
                        <option value="OR">OR</option>
                        <option value="PY">PY</option>
                        <option value="PB">PB</option>
                        <option value="RJ">RJ</option>
                        <option value="SK">SK</option>
                        <option value="TN">TN</option>
                        <option value="TR">TR</option>
                        <option value="UP">UP</option>
                        <option value="UT">UT</option>
                        <option value="WB">WB</option>
                        <option value="TG">TG</option>
                        <option value="JK">JK</option>
                        <option value="JK">JK</option>
                    </select>
                    <select class="rounded text-center h-10 w-32" name="class" id="nt2">
                        <option disabled selected value="">CLASS</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <select class="rounded text-center mx-2 h-10 w-32" name="subject" id="nt3">
                        <option disabled selected value="">SUBJECT</option>
                        <option value="MATH">MATH</option>
                        <option value="SCIENCE">SCIENCE</option>
                    </select>
                    <!-- <input required class="rounded text-center mx-2 h-10 w-40" placeholder="Enter subject" type="text" name="subject" id="nt3"> -->
                    <input required class="rounded text-center mx-2 h-10 w-40" placeholder="Chapter Name" type="text" name="chapter" id="nt4">
                    <input required class="rounded text-center mx-2 h-10 w-40" placeholder="Chanel" type="text" name="chanel" id="nt5">
                    <button type="submit" class="bg-red-400 text-xl font-bold rounded ml-4 h-10 w-32">save</button>
                </div>

            </form>
        </div>
        <div class="hidden shadow-xl rounded-lg overflow-hidden mx-2 flex  justify-around flex-col p-1 font-sans" id="upload_table">
            <span class="text-center text-gray-600 font-bold text-xl uppercase my-2">Upload Excel</span>
            <div class="flex flex-row justify-around">
                <a id="get_sample" class="w-48 mx-2 flex flex-row items-center justify-center px-4 py-2 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue-400 hover:text-white" href="{% static 'sample_tv_schedule.xlsx' %}"
                    download="sample_tv_schedule.xlsx">
                    <i class="fas fa-cloud-download-alt"></i>
                    <span class="text-sm font-bold leading-normal mx-4 text-center">get sample</span>
                </a>
                <a id="cancle_xl" onclick="cancle_upload()" class="hidden w-48 mx-2 flex flex-row items-center justify-center px-4 py-2 bg-red-500 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-red-600 hover:text-white">
                    <i class="fas fa-ban"></i>
                    <span class="text-sm font-bold leading-normal mx-4 text-center">cancle</span>
                </a>
                <a id="upload_xl" onclick="bulk_upload()" class="hidden w-48 mx-2 flex flex-row items-center justify-center px-4 py-2 bg-green-500 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-green-600 hover:text-white">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span class="text-sm font-bold leading-normal mx-4 text-center">upload</span>
                </a>
                <label id="load_xl" class="w-48 mx-2 flex flex-row items-center justify-center px-4 py-2 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue-400 hover:text-white">
                    <i class="fas fa-file-export"></i>
                    <span class="text-sm font-bold leading-normal mx-4 text-center">load excel</span>
                    
                    <input class="hidden" type="file" id="input" accept=".xls,.xlsx"  >
                </label>
            </div>

        </div>
        <div class="col-md-12">
            <pre id="jsondata"></pre>
        </div>
        <div id="table_hading" class="text-lg flex justify-center font-bold uppercase mt-8 my-2 text-center p-2 text-gray-600">
            <div class="px-2">
                <select class="border-2 rounded h-7  text-sm w-44" id="mySelect" onchange="get_table()">
                    <option value="AN">AN</option>
                    <option value="AP">AP</option>
                    <option value="AR">AR</option>
                    <option value="AS">AS</option>
                    <option value="CH">CH</option>
                    <option value="CT">CT</option>
                    <option value="DN">DN</option>
                    <option value="DD">DD</option>
                    <option value="DL">DL</option>
                    <option value="GA">GA</option>
                    <option value="GJ">GJ</option>
                    <option value="HR">HR</option>
                    <option value="HP">HP</option>
                    <option value="JH">JH</option>
                    <option value="KA">KA</option>
                    <option value="KL">KL</option>
                    <option value="LD">LD</option>
                    <option value="MP">MP</option>
                    <option value="MH">MH</option>
                    <option value="MNL">MNL</option>
                    <option value="ML">ML</option>
                    <option value="MZ">MZ</option>
                    <option value="NL">NL</option>
                    <option value="OR">OR</option>
                    <option value="PY">PY</option>
                    <option value="PB">PB</option>
                    <option value="RJ">RJ</option>
                    <option value="SK">SK</option>
                    <option value="TN">TN</option>
                    <option value="TR">TR</option>
                    <option value="UP">UP</option>
                    <option value="UT">UT</option>
                    <option value="WB">WB</option>
                    <option value="TG">TG</option>
                    <option value="JK">JK</option>
                    <option value="JK">JK</option>
                </select>
            </div>
            Classes Timetable
        </div>

        <div id="uploaded_states" class="hidden flex justify-center">
            <ul class="flex pl-0 list-none rounded my-2">
            </ul>
        </div>

        <div class=" mb-8 flex flex-col items-center justify-center relative">
            <!-- table -->
            <div class=" w-11/12 bg-white shadow-lg rounded-lg">

                <table id="myTable" class="text-center w-full text-sm">
                    <thead class="shadow-lg bg-gray-300 flex justify-center flex-col items-center uppercase text-center rounded-t-lg">
                        <tr class="flex w-full justify-center items-center">
                            <th class="w-1/6 border-r ">Date</th>
                            <th class="w-1/6 border-r">class</th>
                            <th class="w-1/6 border-r">subject</th>
                            <th class=" w-1/6 border-r">chapter</th>
                            <th class=" w-1/6 border-r">chanel</th>
                            <th id="action" class="w-1/6 p-2">actions</th>

                        </tr>
                        <tr class="flex w-full justify-center items-center">
                            <th class="w-1/6 border-r ">
                                <input type="datetime-local" class="border-2 rounded h-8 w-32" id="myInput0" onkeyup="searchTableColumns(0)" placeholder="Search for date">
                            </th>
                            <th class="w-1/6 border-r">
                                <select class="border-2 rounded h-8 w-32" id="myInput1" onchange="searchTableColumns(1)">
                                    <option disabled selected value="">select class</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    
                                </select>
                            </th>
                            <th class="w-1/6 border-r">
                                <input type="text" class="border-2 rounded h-8 w-32" id="myInput2" onkeyup="searchTableColumns(2)" placeholder="Search for subject">
                            </th>
                            <th class=" w-1/6 border-r">
                                <input type="text" class="border-2 rounded h-8 w-32" id="myInput3" onkeyup="searchTableColumns(3)" placeholder="Search for names..">
                            </th>
                            <th class=" w-1/6 border-r"><i class='fas fa-tv'></i> </th>
                            <th id="action_ico" class="w-1/6 p-2"><i class="fas fa-cog"></i></th>

                        </tr>
                    </thead>
                    <tbody id="table_of_items" class="bg-grey-light text-sm flex flex-grow flex-col items-center justify-start overflow-auto w-full h-96">
                        <!-- iterate rows by js -->
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- delete popup -->
    <div id="deletepopup" class="hidden fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!--Background overlay, show/hide based on modal state-->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>


            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <!-- Heroicon name: outline/exclamation -->
                            <div class="h-8 w-6 text-xl text-red-600 text-center">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Delete schedule
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                    Are you sure you want to delete schedule ... ?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
            Delete
          </button>
                    <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            Cancel
          </button>
                </div>
            </div>
        </div>
    </div>


</body>

<!-- <body>
    <div class="w-screen flex items-center justify-center bg-gray-200">
        <div class="w-1/2">
            <table id="example" class="display">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>class</th>
                        <th>subject</th>
                        <th>chapter</th>
                        <th>link</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body> -->

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    // initial calling
    window.onload = function() {
        get_table('AN')
    }

    //  make xl bulk table
    let selectedFile;
    let all_sheets = {}
    let bulk_data;

    document.getElementById('input').addEventListener("change", (event) => {
        selectedFile = event.target.files[0];
        if (selectedFile) {
            let fileReader = new FileReader();
            fileReader.readAsBinaryString(selectedFile);
            fileReader.onload = (event) => {
                let data = event.target.result;
                let workbook = XLSX.read(data, {
                    type: "binary"
                });
                workbook.SheetNames.forEach(sheet => {
                    let rowObject = XLSX.utils.sheet_to_json(workbook.Sheets[sheet]);
                    all_sheets[sheet] = rowObject;

                });
                bulk_data = JSON.stringify(all_sheets) // bulk json data 
                event.target.value = '';
                make_tables2(all_sheets)
                document.getElementById('cancle_xl').classList.remove('hidden');
                document.getElementById('upload_xl').classList.remove('hidden');
                document.getElementById("get_sample").classList.add('hidden');
                document.getElementById("load_xl").classList.add('hidden');

            }
        }

    })

    // upload bulk
    function bulk_upload() {
        console.log(bulk_data);
        $.ajax({
            type: 'POST',
            url: '/tv_timetable_bulk_upload/',
            data: bulk_data,
            success: function() {
                document.getElementById("input").value = "";
                document.getElementById("message_alert").classList.remove('hidden');
            }
        });
        window.location.reload(true);
    }

    function cancle_upload() {
        location.reload(true);
    }

    // sinle table upload
    $(document).on('submit', '#add_form', function() {
        event.preventDefault();

        $.ajax({
            type: $(this).attr('method'),
            url: this.action,
            data: $(this).serialize(),
            context: this,
            success: function(response) {
                var val = response['state'];
                document.querySelector('#mySelect [value="' + val + '"]').selected = true;
                get_table(response['state'])

                // $('#mess').empty().show().html('updated').delay(3000).fadeOut(300);

            },

            error: function(xhr, errmsg, err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg + "></div>")
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }

        });
        document.getElementById("add_form").reset(); // reset form
        return false;
    })

    function edit(id) {
        document.getElementById("m" + id).style.display = "none";
        document.getElementById("s" + id).style.display = "block";
        // Omit id
        for (let index = 2; index < 7; index++) {
            td = document.getElementById("tr" + id + index).disabled = false;
        }

    }

    function save(id) {
        let data = {}
        document.getElementById("m" + id).style.display = "inline-flex";
        document.getElementById("s" + id).style.display = "none";
        for (let index = 1; index < 7; index++) {
            let td = document.getElementById("tr" + id + index);
            td.disabled = true;
            data[td.name] = td.value;

        }
        console.log(data)

        $.ajax({
            url: "/update_time_table/", // the endpoint
            type: "POST", // http method
            data: data,
            dataType: 'json',

            success: function(response) {},

            error: function(xhr, errmsg, err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg + "></div>")
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    }

    function del(id) {
        var r = confirm("Conform !");
        if (r == true) {
            let td = document.getElementById("tr" + id + "1");
            document.getElementById("tr" + id).style.display = "none";

            $.ajax({
                url: "/delete_time_table/", // the endpoint
                type: "POST", // http method
                data: {
                    'id': td.value
                },
                dataType: 'json',

                success: function(response) {

                },

                error: function(xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg + "></div>")
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
    }

    function searchTableColumns(row) {
        // Declare variables 
        console.log(row)
        if (row == 0) {
            var input = document.getElementById("myInput0");
            var rowno = 0;
        } else if (row == 1) {
            var input = document.getElementById("myInput1");
            var rowno = 1;
        } else if (row == 2) {
            var input = document.getElementById("myInput2");
            var rowno = 2;
        } else if (row == 3) {
            var input = document.getElementById("myInput3");
            var rowno = 3;
        }

        var filter, table, tr, i, j, column_length, count_td;
        column_length = document.getElementById('myTable').rows[0].cells.length;
        filter = input.value.toUpperCase();
        table = document.getElementById("table_of_items");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) { // except first(heading) row
            count_td = 0;
            for (j = 1; j < column_length - 1; j++) { // except first column
                td = tr[i].getElementsByTagName("td")[rowno];
                console.log(td)
                    /* ADD columns here that you want you to filter to be used on */
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        count_td++;
                    }
                }
            }
            if (count_td > 0) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }

    }

    function get_table(state) {

        if (state == undefined) {
            state = document.getElementById("mySelect").value;
        }
        console.log(state)

        $.ajax({
            url: "/get_time_table/", // the endpoint
            type: "POST", // http method
            data: {
                'state': state
            },
            dataType: 'json',

            success: function(response) {
                make_tables(response)
            },

            error: function(xhr, errmsg, err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg + "></div>")
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };


    // making table from server
    function make_tables(response) {
        console.log(response)
        $("#table_of_items tr").remove();
        var x, i = 1;
        for (x in response) {
            let row_id = response[x]['pk']
            var row = response[x]['fields'];

            $("#table_of_items").append("<tr id='tr" + i + "' class= 'flex w-full items-center justify-center  hover:bg-gray-200'> \
                                            <td class='hidden'><input disabled  value=" + row_id + "  name='id' id='tr" + i + '1' + "'></td>\
                                            <td  class='w-1/6 py-2 mx-2'><input disabled class='w-42' value=" + row['date'] + " type='datetime-local' name='date' id='tr" + i + '2' + "' ></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class='w-32' value=" + row['student_class'] + " type='text' name='student_class' id='tr" + i + '3' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class='w-32' value=" + row['subject'] + " type='text' name='subject' id='tr" + i + '4' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class='w-32' value=" + row['chapter_name'] + " type='text' name='chapter_name' id='tr" + i + '5' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class=' mx-2 w-32' value=" + row['chanel'] + " type='text' name='chanel' id='tr" + i + '6' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2' >\
                                                <div id='m" + i + "' class='flex justify-center item-center flex-row'>\
                                                    <div onclick='del(" + i + ")' class='w-4 mr-4 transform hover:text-red-500 hover:scale-150' ><i class='far fa-trash-alt'></i></div>\
                                                    <div class='w-4 ml-4 transform hover:text-purple-500 hover:scale-150' onclick='edit(" + i + ")'><i class='far fa-edit'></i></div>\
                                                </div>\
                                                <div id='s" + i + "' class='flex item-center flex-row hidden'>\
                                                    <button class='px-3 mx-1 rounded-3xl border bg-green-500' onclick='save(" + i + ")'' type='submit'>save</button>\
                                                </div>\
                                            </td>'\
                                        </tr> ");

            i = i + 1

        }

    }


    // making table from xlsx
    function make_tables2(response) {
        console.log(response)
        $("#table_of_items tr").remove();
        $("#uploaded_states li").remove();

        let i = 1;
        for (const x in response) {
            const state = response[x];
            $("#uploaded_states ul").append('<li class="relative block py-2 px-3 leading-tight bg-white border border-gray-300 text-blue-700 rounded border-0 hover:bg-gray-200" onclick="searchTableColumns("xl"," ' + x + ' ")" >' + x + '</li>');

            for (const y in state) {
                const row = state[y];

                $("#table_of_items").append("<tr id='tr" + i + "' class= 'flex w-full items-center justify-center  hover:bg-gray-200'> \
                                            <td  class='w-1/6 py-2 mx-2'><input disabled class='w-42' value=" + row['date'] + " type='datetime-local' name='date' ></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class='w-32' value=" + row['student_class'] + " type='text' name='student_class' id='tr" + i + '3' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class='w-32' value=" + row['subject'] + " type='text' name='subject' id='tr" + i + '4' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class='w-32' value=" + row['chapter_name'] + " type='text' name='chapter_name' id='tr" + i + '5' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'><input disabled class=' mx-2 w-32' value=" + row['chanel'] + " type='text' name='chanel' id='tr" + i + '6' + "'></td>\
                                            <td class='w-1/6 py-2 mx-2'>" + x + "</td> \
                                            </tr> ");

                i = i + 1

            }


        }

    }

    // switch 
    function operation(action) {
        if (action == "edit") {
            document.getElementById('add_table').classList.remove('hidden');
            document.getElementById('table_hading').classList.remove('hidden');
            document.getElementById("uploaded_states").classList.add('hidden');
            document.getElementById('upload_table').classList.add('hidden');
            get_table('AN')

        } else if (action == 'upload') {

            document.getElementById("add_table").classList.add('hidden');
            document.getElementById("table_hading").classList.add('hidden');
            document.getElementById('uploaded_states').classList.remove('hidden');
            document.getElementById('upload_table').classList.remove('hidden');
            $("#table_of_items tr").remove();
        }

    }
</script>

</html>