{% extends "base.html" %}
{% load tags %}
{% load filters %}
{% block head_title %}eVidyaloka{% endblock %}

{% block head_scripts %}
    {{ block.super }}
    <script type='text/javascript' src='/static/js/calendar/fullcalendar.js'></script>
    <script type="text/javascript" src="/static/js/calendar/jquery-ui-1.8.17.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
                var today_date = new Date();
                var d = today_date.getDate();
                var m = today_date.getMonth();
                var y = today_date.getFullYear();
                window.render_event_done = true;
                var get_future_date = function(curr_date, offset_date){
                    return new Date(curr_date.setDate(curr_date.getDate() + offset_date));
                };
                var day_index = today_date.getDay();
                if(day_index == 1)
                    var offset_date = 6;
                else if(day_index == 2)
                    var offset_date = 5;
                else if(day_index == 3)
                    var offset_date = 4;
                else if(day_index == 4)
                    var offset_date = 3;
                else if(day_index == 5)
                    var offset_date = 2;
                else if(day_index == 6)
                    var offset_date = 1;
                else if(day_index == 7)
                    var offset_date = 7;
                var future_date = get_future_date(today_date, offset_date);
                var week_date = new Date(future_date.getTime()+31800000);
                var curr_date = new Date();
                var today_date = new Date();
                var render_events = function(month){
                    month = ( month%12 !=0 ? month%12 : 12);
                    $.get("/get_events/?month="+month,function(resp){
                        var user_sessions = resp[0].user_sessions,
                            other_sessions = resp[0].other_sessions;
                        user_sessions = user_sessions.concat(other_sessions);
                        other_sessions = [];
                        var event_html = "<li>${grade} ${subject} ${center} - ${date}, ${start}</li>";
                        $.template("event_template", event_html);
                        if(user_sessions.length > 0){
                            $("#calendar").append("<div class='user_sessions'><p></p><ul></ul></div>");
                            //$.tmpl("event_template", user_sessions).appendTo("div.user_sessions ul");
                        }
                        if(other_sessions.length > 0){
                            $("#calendar").append("<div class='other_sessions'><p>Other classes</p><ul></ul></div>");
                            $.tmpl("event_template", other_sessions).appendTo("div.other_sessions ul");
                        }
                        var curr_month = calendar.fullCalendar("getDate").getMonth();
                        var day_mapping = ["mon","tue","wed","thu","fri","sat","sun"];
                        window.dates_arr = [];
                        var pin_it = function(pin_color){
                                var cur_day = this.day;
                                var cur_date = parseInt(this.date.slice(0,-6));
                                var day_cells = calendar.find(".fc-"+ day_mapping[cur_day]).not(".fc-other-month,.fc-widget-header");
                                var that = this;
                                var cur_data_event_id = null;
                                var event_html = "<li>" + this.grade + " " + this.subject + " " + this.center + " - " + this.date + ", " + this.start + "</li>";
                                dates_arr[dates_arr.length] = cur_date;
                                if(cur_date >= 1 && cur_date <= 7)
                                    $(event_html).appendTo("div.user_sessions ul");
                                (function(cur_date,that){
                                    $.each(day_cells.find("div.fc-day-number"),function(){
                                        cur_data_event_id = $(this).parents("td").attr("data-event-id");
                                        if(parseInt($(this).text()) == cur_date ){
                                            var image = null;

                                            if(pin_color == "green" && !$(this).next("div.fc-day-content").find("img.green-pin").length > 0)
                                                image = "<img class='pin green-pin' style='float:right;' src='/static/images/green_dot.png'/>";

                                            else if(pin_color == "red" && !$(this).next("div.fc-day-content").find("img.red-pin").length > 0)
                                                image = "<img class='pin red-pin' style='float:right;' src='/static/images/red_dot.png'/>";

                                            if(image)
                                                $(this).next("div.fc-day-content").children("div").append(image);

                                            if(cur_data_event_id && cur_data_event_id.length > 0)
                                                cur_data_event_id += "%3B" + that.id;

                                            else
                                                cur_data_event_id = that.id;

                                            $(this).parents("td").attr({ "data-event-id": cur_data_event_id });
                                        }
                                    });
                                }(cur_date,that));
                        }
                        var d = function(dates_arr){
                                var results = [];
                                $.each(dates_arr, function(i, el){
                                    if($.inArray(el, results) === -1) results.push(el);
                                })
                                for(var i in results){
                                    var cur_date = results[i];
                                    if(cur_date == today_date.getDate() && month == today_date.getMonth()+1){
                                        clear_events();
                                        $(".fc-today .fc-day-number").each(function(){
                                            if(Number($(this).text()) == cur_date){
                                                var id = $(this).parents("td").attr("data-event-id");
                                                render_event(id, today_date);
                                            }
                                        });
                                    }
                                }
                        }
                        var first_day_events = function(){
                               if(month != today_date.getMonth()+1){
                                    clear_events();
                                    $(".fc-day-number").each(function(){
                                        if(Number($(this).text()) == 1){
                                            var id = $(this).parents("td").attr("data-event-id");
                                            var first_date = new Date(calendar.fullCalendar("getDate").getFullYear(), calendar.fullCalendar("getDate").getMonth(), 1);
                                            render_event(id, first_date);
                                        }
                                    });
                                }
                        };
                        $.each(user_sessions,function(i,v){
                           pin_it.apply(this,["green"]);
                        });
                        d(dates_arr);
                        first_day_events();
                        $.each(other_sessions,function(i,v){
                           pin_it.apply(this,["red"]);
                        });
                    });
                },
                clear_pins = function(){
                    $("img.pin").remove();
                    $("td.fc-widget-content").removeAttr("data-event-id");
                },
                clear_events = function(){
                    $("div.user_sessions").remove();
                    $("div.other_sessions").remove();
                    $("div.single_sessions").remove();
                    $("div.date-header").remove();
                    $("div.session").remove();
                },
                render_event = function(id, date){
                    $.get("/get_event/?id="+id+'&day='+date,function(resp){
                        var curr_events = resp[0];
                        curr_events = curr_events.user_sessions.concat(curr_events.other_sessions)
                        var curr_event = null;
                        var day_index = date.getDay();
                        var day_mapping = [ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                        var month_mapping = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                        if(day_index == 7)
                            var day = day_mapping[0];
                        else
                            var day = day_mapping[day_index];
                        var month = month_mapping[date.getMonth()];
                        $("#calendar").append("<div class='date-header'><p>" + day + ", " + month + " " + date.getDate() +"</p></div>");
                        for(var index in curr_events){
                            curr_event = curr_events[index];
                            var topics = curr_event.topic;
                                var $topics_html = "";
                                for(var i in topics){
                                    var topic = topics[i];
                                    if(topic.url != "")
                                        $topics_html += "<a target='_blank' href='"+topic.url +"'>"+topic.title + " " + curr_event.grade + " "  + curr_event.subject + "</a> " ;
                                    else
                                        $topics_html += "<a href='#'>"+topic.title +", " + curr_event.grade + " "  + curr_event.subject + "</a> " ;
                                }
                            $("#calendar").append("<div class='session'><div class='single_sessions user_session'><div style='float:left;'><p>" + curr_event.start + "</p></div><div style='margin-left:17px;float:left;margin-top:-3px;width:260px;'><p class='event-name'>"+ $topics_html + "</p><div style='clear:both'></div><p style='display:block;font-style:italic;margin-bottom:10px;float:left;font-size:11px;'>" + "by " + curr_event.teacher + " at <a class='center' href='#center-modal' data-toggle='modal' data-centerid='"+curr_event.center_id+"'>"+ curr_event.center +"</a></p><div style='clear:both'></div></div></div></div>");
                        }
                    });
                };
                window.calendar = $("#calendar").fullCalendar({
                        theme: false,
                        header: {
                                left: 'prev',
                                center: 'title',
                                right: 'next'
                        },
                        selectable: true,
                        editable: true,
                        dragOpacity: 0.2,
                        columnFormat: {
                                    month: 'ddd',    // Mon
                                    week: 'ddd d/M', // Mon 9/7
                                    day: 'dddd d/M'  // Monday 9/7
                        },
                        eventSources: [
                            {
                                events: []
                            }
                        ],
                        eventMouseover: function(event, jsEvent, view) {
                               if (view.name !== 'agendaDay') {
                                    $(jsEvent.target).attr('title', event.title);
                                }
                                return false;
                        },
                        eventRender: function(e, ele){
                        },
                        dayClick: function(date, allDay, jsEvent, view) {
                            clear_events();
                            if($(this).attr("data-event-id")){
                                render_event($(this).attr("data-event-id"), date);
                            }
                            return false;
                        }
                });
                var loaded_month = calendar.fullCalendar("getDate").getMonth() + 1;
                render_events(loaded_month);
                $("td.fc-header-left > span.fc-button").click(function(){
                    clear_pins();
                    clear_events();
                    render_events(--loaded_month);
                });
                $("td.fc-header-right > span.fc-button").click(function(){
                    clear_pins();
                    clear_events();
                    render_events(++loaded_month);
                });
                $("ul.custom-select li").toggle(function(){
                    $("ul.custom-select > li.focus-f").not($(this)).trigger("click");
                    $(this).addClass("focus-f");
                },function(){
                    $(this).removeClass("focus-f");
                });
                $("html").click(function(){
                    $("ul.custom-select li.focus-f").trigger("click");
                });
                $(".dashboard-notifications-container .note-box ul.custom-select li span.dropdown a").click(function(){
                    $(this).parent("span.dropdown").prev().text($(this).text());
                    window.location = $(this).attr("href");
                });
                $("select.make-admin").change(function(){
                    var $assign_center = $("select.assign-center option:selected"),
                        $assign_teacher = $("select.assign-admin option:selected");
                    if($(this).val() != "None" && $(this).siblings().eq(0).val()!= "None")
                    {
                         $(this).siblings("[rel='ajax-link']").fadeIn("fast").attr({"href": "/assign_center?center_id="+$assign_center.val()+"&user_id="+$assign_teacher.val()});
                    }
                    else{
                        $(this).siblings("[rel='ajax-link']").hide();
                    }
                });
                window.center_map = {
                    {% for center in centers %}
                        "{{ center.name }}": "{{ center_admins|fetch:forloop.counter0 }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                };

                $("select.assign-center").change(function(){
                    var $assign_center = $("select.assign-center option:selected");
                                        var selected_index = $(this).children(":selected").index(),
                        selected = $(this).children(":selected"),
                        selected_sibling = $(this).siblings().eq(0).children().eq(selected_index);
                    $(this).siblings().eq(0).children().removeAttr("selected");
                    if(center_map[selected.text()] == undefined )
                        $(this).siblings().eq(0).children("option[value='None']").attr({"selected": "selected"});
                    else
                        $(this).siblings().eq(0).children("[data-related='"+center_map[selected.text()]+"']").attr({"selected": "selected"});
                    var $assign_teacher = $("select.assign-admin option:selected");
                    window.center_admin_value = $assign_teacher.val();
                    if(!selected.hasClass("no-admin") || $(this).siblings().eq(0).val() == "None"){
                        $(this).siblings("[rel='ajax-link']").hide();
                    }
                    else if(selected.hasClass("no-admin"))
                        $(this).siblings("[rel='ajax-link']").hide();
                    else {
                            $(this).siblings("[rel='ajax-link']").children("span").text("confirm").fadeIn("fast").attr({"href": "/assign_center?center_id="+$assign_center.val()+"&user_id="+$assign_teacher.val()});
                    }
                    var language = $assign_center.attr("data-language");
                    $("select.assign-admin").children("option").each(function(){
                        if($(this).attr("data-language") == language) {
                            $(this).css({"display":"block"});
                        }
                        else {
                            $(this).css({"display":"none"});
                        }
                    });
                    if($assign_center.val() == "None"){
                        $("select.assign-admin").children("option").css({"display":"block"});
                    }
                    $("select.assign-admin").children("option[value='None']").css({"display":"block"});
                    $assign_teacher.css({"display":"block"});
                });
                $("select.assign-admin").change(function(){
                    var $assign_center = $("select.assign-center option:selected"),
                        $assign_teacher = $("select.assign-admin option:selected");
                    if($assign_center.hasClass("no-admin") && $assign_teacher.val() == "None")
                        $(this).siblings("[rel='ajax-link']").hide();
                    else if($assign_teacher.val() == "None"){
                        $(this).siblings("[rel='ajax-link']").fadeIn("fast").attr({"href": "/assign_center?center_id="+$assign_center.val()+"&user_id="+$assign_teacher.val()});
;
                        $(this).siblings("[rel='ajax-link']").children("span").text("remove");
                    }
                    else if($assign_teacher.val() == center_admin_value){
                        $(this).siblings("[rel='ajax-link']").hide();
                    }
                    else
                        $(this).siblings("[rel='ajax-link']").children("span").text("confirm").attr({"href": "/assign_center?center_id="+ $assign_center.val() +"&user_id="+ $assign_teacher.val()});
                });
        });
    </script>

{% endblock %}

{% block doc_ready %}
   window.evd.pre_add_course = function(){
                    $("#add-course-modal select").each(function(){
                        if($(this).children(":selected").val() == ""){
                            $(this).attr({"rel":"tooltip", "data-placement":"right", "title":"select any one of these"}).tooltip("show");
                            return false;
                        }
                    });

                    var planned_topics = "",
                        enroll_students = "",
                        topics_len =  $("select#planned_topics").children(":selected").length,
                        students_len = $("select#enroll_students").children(":selected").length;
                    $("select#planned_topics").children(":selected").each(function(index, val){
                        planned_topics += $(this).val() + (index < (topics_len - 1) ? ";" : "");
                    });
                    $("input[name='planned_topics']").val(planned_topics);
                    $("select#enroll_students").children(":selected").each(function(index, val){
                        enroll_students += $(this).val() + (index < (students_len - 1) ? ";" : "");
                    });
                    $("input[name='students']").val(enroll_students);
                }
                window.evd.after_add_course = function(){
                    $("#add-course-modal").modal("hide");
                    evd.show_msg("Added course successfully")
                }

    evd.assign_center = function(resp){
        var $center = $("select.assign-center option:selected"),
            $admin = $("select.assign-admin option:selected"),
            removed_center_admin_value = "";
        if(resp == "added"){
            $center.removeClass("no-admin");
            $admin.removeClass("no-assigned").css({"color":"#333"});
            evd.show_msg($center.css({"color":"#333"}).text() +" is assigned succesfully to "+ $admin.text());
            if(removed_center_admin_value == "")
                center_admin_value = $admin.val();
            else
                center_admin_value = removed_center_admin_value;
            center_map[$center.text()] = $admin.attr("data-related");
        }
        else {
            $center.addClass("no-admin");
            evd.show_msg("Center admin for "+ $center.css({"color": "red"}).text() + " is removed");
            removed_center_admin_value = center_admin_value;
            center_admin_value = "";
            delete(center_map[$center.text()]);
        }
        $(this).fadeOut("fast");
    }
    evd.pre_filter = function(){
                     $("#mystudents p.title").remove();
                     $("#mystudents p.no-students").remove();
                     $("#mystudents table").remove();
                     $("#mystudents").find("a[rel='submit']").hide();
                     $("#mystudents").append('<img style="display:block;margin:10px auto" src="/static/images/loader.gif" />');
                }
                evd.after_filter = function(resp){
                    var len = resp.length;
                    $("#mystudents img").remove();
                    if(len != 1) {
                        var students = resp;
                        //$("#mystudents").append("<ul id='students_list' style='max-height:400px;margin-right:20px;overflow-x:hidden;overflow-y:auto'></ul>");
                        $("<p class='title' style='padding:10px 0px 0px 10px;'>Students for the selected offering are:</p>").insertAfter($("#mystudents .select-box"));
                        //$.template("student_template",student_html);
                        var student_html = '<table class="current_session_table">'+
                                                '<thead>'+
                                                    '<tr>'+
                                                        '<th style="width:150px">Name</th>'+
                                                        '<th>Strengths</th>'+
                                                        '<th>Weakness</th>'+
                                                        '<th>Observation</th>'+
                                                    '<tr>'+
                                                '</thead>'+
                                                '<tbody>';
                        var ids = "";
                        for(var index in students){
                            student = students[index];
                            ids += student.id + (index < students.length-1 ? ";" : "");
                            student_html += '<tr><td><div class="controls text"><p>' + student.name + '</p></div></td>'+
                                                '<td><div class="controls text"><input type="text" class="strengths" value="' + student.strengths + '" /></div></td>'+
                                                '<td><div class="controls text"><input type="text" class="weakness"  value="' + student.weakness + '"/></div></td>'+
                                                '<td><div class="controls text"><input type="text" class="observation"  value="' + student.observation + '"/></div></td></tr>';
                        }
                        student_html += "</tbody></table>";
                        $("#mystudents form#students-form").append(student_html);
                        $("#mystudents form#students-form input[name='student_ids']").val(ids);
                        $("#mystudents").find("a[rel='submit']").show();
                    }
else {
                        $("<p style='padding:10px 0px 0px 10px;' class='no-students'>The selected offering has no students assigned</p>").insertAfter($("#mystudents .select-box"));
                    }
                }

{% endblock %}

{% block head_styles %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='/static/css/calendar/fullcalendar.1.5.3.min.css'/>
    <link rel="stylesheet" type="text/css" href="/static/css/calendar/theme.css" />
    <style type='text/css'>
        ul.custom-select > li > span.dropdown {
            display: none;
        }
        ul.custom-select > li.focus-f > span.dropdown {
            display: inline;
            z-index: 1000;
        }
        div.single_sessions.user_session {
            background: transparent url(/static/images/green_dot.png) top left no-repeat;
        }
        div.single_sessions.user_session, div.single_sessions.other_session {
            padding-left: 15px;
        }
        #calendar {
                width: 368px;
                font-size: 10px;
                float: left;
                background: #f5f5f5;
                border: 1px solid #BDBDBD;
            }
        #calendar > div.fc-content {
            margin-bottom: 10px;
        }
        .fc-header-title h2 {
                font-size: 18px;
                margin-top: -10px;
                white-space: normal !important;
                font-weight: bold;
           }
        .fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
                font-size: 10px;
                overflow: hidden;
                height: 15px;
           }
        .fc-view-agendaWeek .fc-event-vert {
                font-size: 10px;
                overflow: hidden;
                width: 25px !important;
          }
        .fc-agenda-axis {
                width: 20px !important;
                font-size: .7em;
          }
        .fc-button-content {
                padding: 0;
          }
        .fc-widget-header, .fc-widget-content {
            border: none !important;
        }
        .fc-widget-content > div {
            position: relative !important;
        }
        .fc-border-separate th, .fc-border-separate td {
            border-left: 1px solid #DDD !important;
            border-bottom: 1px solid #DDD !important;
        }
        .fc-border-separate td {
            width: 26px;
            height: 26px;
            border-spacing: 0px;
            border-collapse: collapse;
        }
        .fc-border-separate th.fc-first, .fc-border-separate td.fc-first {
            border-left: 0px !important;
        }

        .fc-widget-content > div > .fc-day-number{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -9px;
            margin-top: -5px;
        }
        table.fc-border-separate {
            width: 305px !important;
            margin: 10px auto 0px auto;
            font-size: 12px;
            font-weight: bold;
            color: #bcbcbc;
        }
        table.fc-border-separate td.fc-first > div{
            min-height: 30px !important;
        }
        th.fc-widget-header > div, td.fc-widget-content > div {
            width: 42px;
            height: 25px;
            cursor: pointer;
        }
        table.fc-header {
            background: transparent url('/static/images/cal_header.png') top left no-repeat;
            height: 83px;
            background-position: -3px 0px;
        }
        td.fc-header-left > span.fc-button-prev, td.fc-header-right > span.fc-button-next {
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
            filter: alpha(opacity=0) !important;
            -moz-opacity:0 !important;
            -khtml-opacity: 0 !important;
            opacity: 0 !important;
            width: 27px;
            height: 27px;
        }
        td.fc-header-left > span.fc-button-prev {
            margin-left: 19px;
            margin-top: 23px;
        }
        td.fc-header-right > span.fc-button-next {
            margin-right: 16px;
            margin-top: 22px;
        }
        td.fc-header-left > span.fc-button-prev > span.fc-button-inner > span.fc-button-content{
            width: 28px;
            height: 25px;
            background: black !important;
        }
        .fc-header-title {
            padding-top:38px;
            color:white;
        }
        div.user_sessions, div.other_sessions, div.single_sessions {
            width: 305px;
            overflow:hidden;
            margin: 10px auto;
        }
        table.fc-border-separate > tbody > tr > td.fc-today {
            background: transparent;
            color: #555;
        }
        table.fc-border-separate > thead > tr > th {
            padding-bottom: 10px;
            color: #F15A22;
            width: 26px !important;
        }
        div.user_sessions > p, div.other_sessions > p {
            margin-bottom: 10px;
            color: #F15A22;
            font-size: 12px;
        }
        div.user_sessions > ul > li, div.other_sessions > ul > li {
            padding: 5px 5px 5px 15px;
            background-position: 0 50%;
            font-size: 12px;
            font-style: italic;
        }
        div.user_sessions > ul > li {
            background: transparent url('/static/images/green_dot.png') top left no-repeat;
            background-position: 0 50%;
        }
        div.other_sessions > ul > li {
            background: transparent url('/static/images/red_dot.png') top left no-repeat;
            background-position: 0 50%;
        }
        div.single_sessions > p.event-name {
            margin-bottom: 10px;
            color: #F15A22;
            font-size: 12px;
            float: left;
        }
        div.single_sessions > p.event-by {
            float:left;
            margin-left: 10px;
            font-size: 10px;
        }
        div.note-box {
            margin: 0px 0px;
            background: #f9f9f9;
            border-radius: 4px;
            border: 1px solid #bdbdbd;
            min-height: 150px;
            overflow: hidden;
        }
        div.note-box.notification {
            margin-bottom:10px;
        }
        div.note-box.notification, div.note-box.next-class {
            margin-top: 0px;
        }
        td.fc-today {
            background: transparent;
            color: #777;
        }
        div.note-box > h3 {
            border-bottom: 1px solid #F3D6CB;
            font-size: 12px;
            padding:10px 5px;
            font-weight: bold;
            color: #555;
        }
        div.note-box {
            position: relative;
            padding:0px 0px 25px 20px;
        }
        div.note-box  a.btn {
            font-weight: normal;
            font-size: 12px;
            padding: 0px 5px;
            cursor: pointer;
        }
        div.note-box div.upcoming-class {
            width: 558px;
            position: absolute;
            margin-top: -15px;
            top: 50%;
        }
        div.note-box .icon {
            background-color: transparent;
            background-image: url("/static/img/glyphicons-halflings.png");
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
        }
        .icon.prev {
            background-position: -432px -72px;
            float:left;
        }
        .icon.next {
            background-position: -456px -72px;
            float: right;
        }
        div.note-box div.pagination {
            float:right;
            height: 16px;
            overflow:hidden;
            width: 40px;
        }
        div.note-box ul {
            width: 558px;
        }
        a.btn.disabled {
            background: #f15a22;
        }
        ul.cycle > li {
            display: none;
        }
        .prev, .next {
            cursor: pointer;
        }
        .assign-btn {
            font-size: 15px;
            height: 20px;
            line-height: 0px;
            margin: 10px 0px 10px 0px;
        }
        h3.logout {
            padding: 20px 40px;
            background: wheat;
            border: 1px solid black;
            text-align: center;
            margin-top: 20px;
            width: 440px;
            line-height:30px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        a:hover {
            color:#F15A22 !important;
        }
        div.resource ul {
            list-style:disc;
        }
        div.resource li{
            margin:10px 0px 0px 30px;
        }
        div.resource h5 {
            margin:20px 0px 0px 0px;
            padding-left:0px !important;
        }
        div.signature {
            margin:15px 0px 0px 0px;
        }
        div.signature img {
            height: 50px;
            width: 50px;
            float: left;
            padding-right: 10px;
            margin:0px 0px 0px 0px;
        }

        div.post,
        div.host {
            display:block;
            float:left;
            clear:both;
            margin:10px 0px 0px 0px ;
        }
        div.post div {
            float:left;
            margin:5px 10px 0px 0px;
            display:inline-block;
        }
        div.post p {
            padding:5px 5px 0px 0px;
        }
        div.host p {
            padding:10px 0px 0px 0px;
            line-height:1.6em;
        }

    </style>

{% endblock %}
{% block body_container %}
            <div class="dashboard-inner-container">
                <div class="dashboard-notifications-container" style="width:560px;min-height:500px;float:left;padding-right:10px">
                    <div class="note-box">
                          </br>
                          Join one of the Orientation events <a href=http://www.facebook.com/evidyaloka/events>here</a>
                        <div class="resource">
                            <h5>Download resources:</h5>
                            <ul>
                                <li>
                                    <a href="/static/downloads/evd_teaser.pdf" target="_blank">A Brief about eVidyaloka</a>
                                </li>
                                <li>
                                    <a href="/static/downloads/evd_volunteering_opportunities.pdf" target="_blank">A Brief note on Volunteering Opportunities</a>
                                </li>
                                <li>
                                    <a href="/static/downloads/email_signature.png" target="_blank">Email Signature</a>
                                </li>
                                <li>
                                    <a href="#">Introductory note</a>
                                </li>
                            </ul>
                        </div>
                        <div class="signature" >
                            <img src="/static/images/evidyalogo.png"/>
                            <p>Add to your Email Signature</p>
                            <p>To teach Rural India<br/>
                                <a id="signup-trigger" style="cursor:pointer">Sign Up</a> Now @
                                <a href="http://www.evidyaloka.org">www.evidyaloka.org</a>
                            </p>
                        </div>
                        <div class="" style="width:95%">
                            Share the joy : <a href="/sponsor" target="_blank">Donate Now</a>
                        </div>

                        <div class="post">
                            <div>
                                <p>Like us on FB:</p>
                            </div>
                            <div class="fb-share">
                                <div class="fb-like" data-href="https://www.facebook.com/evidyaloka" data-send="false"
                                    data-layout="button_count" data-width="105" data-show-faces="false" data-colorscheme="dark"></div>
                            </div>
                        </div>

                        <div class="post">
                            <div>
                                <p>Follow us in Twitter: </p>
                            </div>
                            <div class="tw-share">
                                <a href="https://twitter.com/evidyaloka" class=
                                "twitter-follow-button" data-show-count="false"
                                data-show-screen-name="false">Follow @evidyaloka</a>
                                <script type="text/javascript">
                    //<![CDATA[
                                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.cogets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                                //]]>
                                </script>
                            </div>

                        </div>

                        <div class="post">
                            <div><p>Subscribe to Videos: </p></div>
                            <div>
                                <a href="//www.youtube.com/subscription_center?add_user_id=Owv8EUnb3rzI_9VSrOYP-Q&feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscrib
                            e_to_my_videos/YT_Subscribe_130x36_red.png"><img src="//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png" alt="Subscribe to me on Youtube"/></a><img src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png" style="display: none"/>
                            </div>
                        </div>
                        <div class="host">
                            <p>Host an Informational event. To know contact <a href="mailto:venkat.sriraman@evidyaloka.org">venkat.sriraman@evidyaloka.org</a><br/>
                            Tell your friends and family<br/>
                            Or simply forward an mail
                            </p>
                        </div>
                    </div>

                </div>
                <div class="dashboard-calendar-container" style="width:370px;min-height:500px;float:left">
                    <div id="calendar"></div>
                </div>
            </div>
{% endblock %}


{% block bottom_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $("li.dropdown, ul.dropdown-menu").mouseenter(function(){
                $(this).children("ul.dropdown-menu").show();
            });
            $("li.dropdown, ul.dropdown-menu").mouseleave(function(){
                $(this).children("ul.dropdown-menu").hide();
            });
        });
    </script>
{% endblock %}
